[2016-01-08 15:29] geohuz opened #12 "problem in webpack environment"
ERROR in ./~/react-resizable-and-movable/~/react-resizable-box/lib/index.js
Module parse failed: /Users/geohu/Codings/Web_front/hingeOrgChart/node_modules/react-resizable-and-movable/node_modules/react-resizable-box/lib/index.js Line 1: Unexpected token
You may need an appropriate loader to handle this file type.
| import React, { Component, PropTypes } from 'react';
| import assign from 'react/li

[2016-01-08 22:53] bokuweb commented on #12
thx
please try react-resizable-and-movable@0.1.5

[2016-01-10 11:42] #12 closed

[2016-02-06 21:39] bdyetton opened #18 "Resizing does not lock moving"
Great component thanks!
However, when i place in in my app, every time I resize the box moves too. This does not happen in you demo. Any ideas why?
Also, is there a way to stop the resize arrow from appearing on the y axis?
Thanks!

[2016-02-06 22:44] bokuweb commented on #18
Thank you very much. We will investigate.
Also, please tell me your piece of code

[2016-02-06 23:00] bdyetton commented on #18
Thanks:
Here is the relevant component code that constructs and renders the  'DragBox' which is your 'resizeable-and-moveable-box'
[code]

I believe the problem is that that the ```disabled``` property of the Draggable component is not working properly.

[2016-02-06 23:57] bdyetton commented on #18
I think maybe the Draggable Component gets the click event before the react-resizable-and-movable component, and so the ```disabled``` state change for the Draggable object comes to late?

[2016-02-07 00:06] bokuweb commented on #18
Hmmmm... If you place simpleset component, is it working properly?

[code]

I'm going to append `isResazable{x:boolean, y:boolean, xy:boolean}` property.

[2016-02-07 00:38] bdyetton commented on #18
Thanks for replying so swiftly.
No that still has the same issue. Strangely, if i call the following inside the react-resizable-and-movable component:
[code]
Then for the first resize it works great, but then after moving it once the problem comes back. Again, this makes me think its something to do with the event propagation because the ```disabled``` works when called without an event (as in the

[2016-02-07 08:25] bokuweb commented on #18
Please try v0.2.4
Add `isResizable` option and `stopPropagation` when resizestart.

sorry, not be reproduced on my env...

[2016-02-07 20:15] bdyetton commented on #18
Thanks, but i get the following error:
[code]
I don't think the event makes it to the resizeStart function (potentially because it its consumed by the Draggable object? Im not really that familiar with event propagation).

Also, I think it would be usefully to break out the 'axis' prop of the Draggable, thereby allowing moving on only one axis.
Thanks for your help!

[2016-02-07 23:36] bokuweb commented on #18
Hmmmm... Please check following list

- what is `react-resizable-box` version, if not v0.1.7, update it.
- what is stored in `onResizeStart` 1st argument. (I want to know why `'stopPropagation' of undefined` occured)

If you can, please send me the project which is minimized in order to reproduce.

[2016-02-09 08:26] bdyetton commented on #18
- Yep, i updated, but no effect.
- the second arg (```e```) is undefined. The first arg ```dir``` is 'x' or 'y' depending on the direction (as per the readme)

Ill make a version of the project available soon to help reproduce.

[2016-02-09 08:32] bokuweb commented on #18
- react-resizable-box version is 0.1.7?

thunks

[2016-02-09 22:49] bdyetton commented on #18
Well in creating a version of the project for you to reproduce the error, i ended up fixing it!
Im still not 100% on what the error was, but i believe that i had this react [draggable](https://github.com/mzabriskie/react-draggable) as well as your version in my node packages, and the incorrect draggable component was being created. Could have been something else also...
Thanks for your support!

A

[2016-02-09 23:13] bokuweb commented on #18
:+1:

Welcome your PR. If you can not,  I'll do it if Moraere wait a little.

[2016-02-10 07:50] #18 closed

[2016-03-03 05:54] bdyetton opened #23 "Resize on left and top edge"
Hi Bokuweb,
I would like to be able to resize by clicking and dragging on the left (and top) edges.
Are there any plans to allow for this?

[2016-03-04 12:55] bokuweb commented on #23
Hi @bdyetton
It's not the plan for now. I'm sorry.

[2016-03-04 19:55] bdyetton commented on #23
Ok cool. Maybe Ill have a go adding it myself then

[2016-03-04 19:55] #23 closed

[2016-03-08 13:40] tastemeru opened #25 "How to prevent click on drag and resize?"
How to prevent event `onClick`, when I'm dragging?
Will be really glad for answer, it goes me crazy, Thanks!

[2016-03-08 13:47] bokuweb commented on #25
@tastemeru Hi. If you do not mind, please show me the code of part of ResizableAndMovable component.

[2016-03-08 14:10] tastemeru commented on #25
Sorry, can't show the "production" version, because I broke there everything, but here is an example:
[code]
And as a result: https://monosnap.com/file/euLXzSGa0RPRFyZZJFaLQmZrT7jNnU
The problem is that after `onDrag` we have `onClick` event.  I'm trying to develop a modal toggle on click and as a result I get toggle after `onDrag` event(https://monosnap.com/file/DSJqpnne2RbAwvjp14shUwyEQh9VX3). I

[2016-03-08 14:14] bokuweb commented on #25
@tastemeru thanks.We'll investigate, please give your time a little

[2016-03-08 15:36] tastemeru commented on #25
Currently fix it with this plug:
http://stackoverflow.com/questions/6042202/how-to-distinguish-mouse-click-and-drag
Set the onMouse events on a children div and it works.

[2016-03-08 15:36] #25 closed

[2016-03-08 15:53] tastemeru commented on #25
But it seems as not really elegant solution, if you have any suggestions, I'll be glad to hear, thanks!

[2016-03-08 22:09] bokuweb commented on #25
@tastemeru thanks!! I'll consider continously.

[2016-04-04 15:29] varandpez opened #29 "onDragStart not working??"
Hi,

It seems like onDragStart does not work. I have the following:
`<ResizableAndMovable
          start={{x:0, y:0, width:200}}
          minWidth={250}
          maxWidth={500}
          minHeight={250}
          maxHeight={500}
          isResizable={{x:true, y:false, xy:false}}
          onResizeStop={this.onResizeStop}
          onDragStart={this.onDragStart}
          onDragStop={this.onDra

[2016-04-04 15:31] varandpez commented on #29
my bad, stupid typo

[2016-04-04 15:31] #29 closed

[2016-04-04 19:43] varandpez opened #30 "Why doesn't setState effect component's position?"
Hi,

For x, y and width I'm using component's state. That is because the state of the component can be fetched for recovery and things like that. but it seems like "ResizableAndMovable" does not handle reRendering of the component.

Any advice?

Thanks.

[2016-04-05 02:58] bokuweb commented on #30
@varandpez Hi. thanks for your report.
it's a Known Issue..

`react-resizable-and-movable` use `react-draggable`. but  `react-draggable` can not update position by parent component.

I'm going to fix this issue.
Please give me a little more time.

[2016-04-06 13:51] adolli opened #31 "why cannot specify a drag handle？"
Hi,

it is very cool to use your react-resizable-and-movable. but i meet some problems with my content that i need select some text of the movable panel. in this case, when i try to select the text, the panel moves. is there a way to set drag handle like react-draggable?

Thanks.

[2016-04-06 14:27] bokuweb commented on #31
@adolli thanks for your report.
This component use customized  `react-draggable`.
So, It is possible to pass drag handle props to  `react-draggable`, which is child of `react-resizable-movable`.
I'm going to implement this props next version.

thanks.

[2016-04-06 15:35] varandpez commented on #30
With a small trick I was able to bypass this issue, but definitely would be better to do it the right way.
I added "key" attribute to the component state with random() value on setState, so that react re render the component because of key change.

[2016-04-06 22:47] bokuweb commented on #30
@varandpez

thanks for your report.I'm going to fix this issue.

[2016-04-07 02:05] adolli commented on #31
thank u very much for your reply so quick. i'm going to upgrade all my `react-draggable` to `react-resizable-movable`

[2016-04-07 02:05] #31 closed

[2016-04-08 09:14] adolli commented on #31
i'm sorry to trouble u again.
when will next version be available? in current latest version, it still takes no effect by passing props like `handle='.drag-handle'`.

Thanks

[2016-04-08 12:07] bokuweb commented on #31
@adolli  sorry, I dont implemet it yet, I 'm going to implement it as soon as possible

[2016-04-08 13:06] bokuweb commented on #31
@adolli FIxed. Please try vr 0.5.3. but v0.5.3 not support v15.0 yet.

[2016-04-11 14:40] bokuweb commented on #30
@varandpez

Update component. please use v1.0.0.
Remove start props, and please use width, height, x, y props

[2016-04-11 14:40] #30 closed

[2016-04-11 14:41] bokuweb commented on #23
@bdyetton implement left and top resizer, please see demo.

[2016-04-11 15:50] varandpez commented on #30
👍  Tnx

[2016-04-11 20:36] bdyetton commented on #23
Awesome thanks!!!

[2016-04-13 10:44] bokuweb opened #35 "Bounds props not work properly, when resized."

[2016-04-27 12:32] bokuweb opened #36 "Pass x and y to as callback arg when resized"

[2016-05-24 11:12] ArvinXie opened #37 "onDrageStop not work properly, when dragging stop."

[2016-06-08 08:46] anyxem commented on #37
Because proper callback name is onDragStop. There is mistake in Readme

[2016-06-08 08:49] bokuweb commented on #37
closed by #40

[2016-06-08 08:49] #37 closed

[2016-07-06 13:30] agentcooper opened #44 "onChange prop"
Does it make sense to suggest an additional prop `onChange: (updatedPosition: { x, y, width, height }) => void`? It will call the passed callback when any change did happen (resize or drag) with the updated coords and dimensions.

[2016-07-06 23:51] bokuweb commented on #44
@agentcooper Thank you for proposal. it is simple and nice idea. Now, certainly call back is too much. But, even if add `onChange` callback, `onResize` and `onDrag` is required, and they are overlapping.I want to add if to reduce the callbacks.

[2016-08-25 14:18] kudlajz opened #47 "Can't install package"
Hi,

I'd like to use your component as it is exactly what I'm looking for, but unforunately, I get a following error:

[code]

Is there a problem with my system or is this a global problem? I haven't found anyone dealing with the same issue.

[2016-08-31 08:23] alicebob commented on #47
Same problem here with a clean install. @bokuweb, could you add that package?

[2016-08-31 12:01] #44 closed

[2016-08-31 12:06] bokuweb commented on #47
Ummmm, I can't reproduce the error....

[code]

[2016-08-31 12:10] kudlajz commented on #47
@bokuweb Do you have a repository called `@bokuweb` set by any chance?

[2016-08-31 12:30] bokuweb commented on #47
@kudlajz no.it is not set.

my `~/.npmrc` is only set `registry.npmjs.org/:_authoken=xxxxxxxxxxxxxxxxx`

![2016-08-31 21 27 42](https://cloud.githubusercontent.com/assets/10220449/18128640/cdd07c08-6fc1-11e6-856f-7e389f9309e8.png)

[2016-08-31 12:43] bokuweb commented on #47
Similar case?

https://github.com/rlidwka/sinopia/issues/399

[2016-08-31 12:46] kudlajz commented on #47
@bokuweb Yep, it worked. Thanks!

```npm config set "@bokuweb:registry" http://registry.npmjs.org/```

[2016-08-31 12:47] bokuweb commented on #47
@kudlajz oh!!thanks!!

[2016-08-31 16:42] alicebob commented on #47
upgrading npm and / or the `npm config` from above fixed it for me.

from:
node -v v4.3.1
npm -v 1.4.21
to:
v6.5.0
v3.10.3

(debian testing has those old versions available)

Thanks for the help!

[2016-08-31 22:19] bokuweb commented on #47
@alicebob thanks!!

[2016-08-31 22:19] #47 closed

[2016-09-02 02:03] #35 closed

[2016-09-02 02:03] #36 closed

[2016-09-11 11:06] amitava82 opened #52 "zIndex seems to be not applying"
It seems to get applied on first render but it is not getting applied if pass through props (setting zIndex dynamically). It worked fine in v3.

[2016-09-11 12:06] amitava82 commented on #52
OK, after some debugging, It seems you removed the div with style that has zIndex and that is what being checked in react-draggable
https://github.com/bokuweb/react-draggable-custom/blob/master/lib/Draggable.es6#L29

https://github.com/bokuweb/react-rnd/blob/c73699ea10adeacc8809ff7d075827ad7dd6c8b0/src/index.js#L200

Perhaps you should remove this check (this.state.dragging) and always allow pass

[2016-09-11 12:42] bokuweb commented on #52
@amitava82 thanks for your report. I try to fix it. please try v4.0.1.

[2016-09-11 13:34] amitava82 commented on #52
Thanks for quick fix! Works perfect!

[2016-09-11 13:34] #52 closed

[2016-09-13 14:17] amitava82 opened #54 "bug when dragHandlerClassName is used"
[code]

With above dom structure if `dragHandlerClassName` is set to  `.handle` , dragging does not work when drag target is h1. If h1 has some padding then the padded area  allows dragging.

[2016-09-17 07:27] bokuweb commented on #54
@amitava82 thanks for your report.I'll investigate it.

[2016-09-20 01:35] bokuweb commented on #54
@amitava82 I can not reproduce it in my env.

I tried bellow code.

[code]

[2016-09-24 15:43] ErrorPro opened #57 "Bounds=parent doesnt work when resizing."
Hi. Is there any way to set up bounds for resizing? For dragging it works perfect.

[2016-09-25 07:15] bokuweb commented on #57
@ErrorPro thanks for your report .it is a bug.it will need implement `bounds` function to `react-resizable-box`.

[2016-10-22 03:19] andrejunges opened #58 "touch problems to resize elements"
Hey, I think we have an issue with touch support when resizing elements.
I haven't gone through all the code, but I could trace the problem..

I'm not sure why the whole `event` isn't passed forward in this line
https://github.com/bokuweb/react-resizable-box/blob/master/src/resizer.js#L91

But if we do that, we can't call `e. stopPropagation` here. Not sure if it needs to be stopped (probably it d

[2016-10-23 16:14] bokuweb commented on #58
@andrejunges thanks your your report. I'll fil it. Please give me a time

[2016-10-23 20:02] andrejunges commented on #58
@bokuweb I can do an PR with this fix.

Just to confirm, should I go for passing the whole event on `onTouchStart` and checking it on `onResizeStart` https://github.com/bokuweb/react-resizable-box/blob/master/src/index.js#L217

we could do something like
`const event = e.touches ? e.touches[0] : e`

[2016-10-24 15:50] bokuweb commented on #58
@andrejunges thx!!

I think i should change bellow.

- https://github.com/bokuweb/react-resizable-box/blob/master/src/resizer.js#L91

[code]

[2016-10-29 06:40] volkandkaya opened #59 "Feature request: Add newPos to onResizeStop"
It would be great if onResizeStop had newPos like onResize.

[2016-10-31 16:37] #59 closed

[2016-11-04 00:58] #58 closed

[2016-11-09 09:24] cherya opened #61 "Resizer div sizes"
Is it possible to change resizer div size and position? By default they are "height:10px" or "width: 10px".
How can I make them "height:4px" or "width: 4px" and move them a little inside?

[2016-11-10 01:52] bokuweb commented on #61
@cherya Please, use [`ResizerHandleStyle`](https://github.com/bokuweb/react-rnd#resizerhandlestyle-proptypesshape-top-proptypesobject-right-proptypesobject-bottom-proptypesobject-left-proptypesobject-topright-proptypesobject-bottomright-proptypesobject-bottomleft-proptypesobject-topleft-proptypesobject-) to set style to handler.

[2016-11-10 18:05] cherya commented on #61
@bokuweb thank you!

[2016-11-10 18:05] #61 closed

[2016-11-17 13:48] ammycloud commented on #54
issue exist!

when you're using H1 in chrome (without pointer-events: none css directive on h1) it's not working properly.

You should check it again. This is bug of Draggable (react-draggable) package. It was solved but in yours react-draggable-custom bug is reproducing...

[2016-11-17 14:47] bokuweb commented on #54
@ammycloud thanks for youre preport. Would you please give me a reproduced repository if you do not mind?

[2016-12-08 20:20] brightdim opened #63 "Problem with nested movable components."
Moving a nested ResizableAndMovable component results in the parent moving and the child moving at double speed. I believe all that is needed is a call to e.stopPropagation() inside the onDragStart function.

[2016-12-13 17:15] harivasista opened #64 "onResize callback"
Hello Bokuweb,

I have a shape (eg. square or rectangle) inside Rnd component and if I resize the component I would want the shape also to resize accordingly. How will I be able to achieve this onResize ?

Thanks.

[2016-12-13 23:45] bokuweb commented on #64
@harivasista

Please recieve delta `width` and `height` from `onResize` callback,  then re-calculate your shape size from these value, and set new style to your shape.

[2016-12-14 14:27] harivasista commented on #64
Thanks a lot for the response. But it worked for me when I set the states using the ClientSize. Could you please explain more about the styleSize and clientSize differences ?

[2016-12-22 17:04] swapnil95 opened #65 "Unnecessary dragging if using a select tag inside rnd component"
Hi,

I am using a select tag inside my rnd component. When I click on it, the dropdown opens and everything works fine if I select an option from the dropdown. Now when I open the dropdown and do not select anything and click anywhere in my page, the rnd is component moves to the place where I had clicked. Is there a way to stop this ?

[2016-12-25 10:57] ioRekz opened #66 "Is there a way to move the element using props ?"
Right now, I have to use React lifecycle method to update the position when props change.

This could be easier if changing the initial props rerender the component  with new settings

[2016-12-28 16:10] harivasista opened #67 "Question on isResizable."
Where should I be setting isResizable and how?

[2016-12-28 16:10] #64 closed

[2016-12-29 01:40] bokuweb commented on #66
@ioRekz Sorry, please use update position method.  https://github.com/bokuweb/react-rnd#updateposition-x-number-x-number-

[2016-12-29 01:42] bokuweb commented on #67
i.e.

[code]

[2016-12-29 01:44] bokuweb commented on #65
@swapnil95 Thanks for your report. Sorry for my late reply. Could you please tell me the minimal sample to reproduce?

[2016-12-29 08:01] swapnil95 commented on #65
Here is a minimal sample to reproduce this issue:

[code]

The work around that I could find was to disable dragging when the select tag is in focus and the enable dragging once the select tag is out of focus. Here is a sample for that as well:

[code]

[2016-12-29 17:12] harivasista commented on #67
Thank you it worked.

[2016-12-29 17:12] #67 closed

[2017-01-12 16:46] Nauss opened #68 "Parent padding problem"
Using `bounds = 'parent'` and setting both `padding-left` and `padding-right` on the parent makes the right drag limit wrong (it looks like its `padding-left` **+** `padding-right`).
Reproducing the bug on the demo is easy, just open the dev tools and set the padding (left and right) to 100px.

Setting only the left padding 'works' (in this case, the right padding could not be set and is the same

[2017-01-12 17:12] #66 closed

[2017-01-12 17:14] ioRekz opened #69 "bounds parent still produce negative values"
Is this normal, and if yes, how to avoid it that even with bounds: "parent", the element can go small negative values ? -1 to -6px

[2017-01-12 20:05] harivasista opened #70 "onDragStop returns NAN as poisition"
onDragStop returns the UI object where values of deltaX,deltaY,postionx and poistiony are all NAN. Please help me with this.

[2017-01-13 22:52] harivasista commented on #66
Hi even I am trying to update the position of the element. Could someone give me an example of doing it. As I have tried to call the update() function in a callback method and was unable to move the element. Could someone help me on this ?

[2017-01-17 06:39] harivasista opened #71 "Keys to the components"
Is there a way where I can provide keys/ids to the components that are generated?

[2017-01-17 09:44] Nauss commented on #68
The bug is actually existing in react-draggable. I added the issue [there](https://github.com/mzabriskie/react-draggable/issues/218) also.

[2017-01-17 23:48] bokuweb commented on #68
@Nauss thanks!!
I want to rewrite everything, to not depend on react-draggable on next version.
But  there is no time. Pelease wait... 🙇

[2017-01-18 09:09] Nauss commented on #68
Why would you like to remove the dependency ? It looks like react-draggable has improved itself a lot since your fork.
Updating the dependency with the latest version seems a better solution to me ?

[2017-01-18 11:42] bokuweb commented on #68
@Nauss Hmmm...That's exactly right.I'll update forked  react-draggable.

[2017-01-23 08:50] Hazantip opened #72 "touch devices - onDragStop positions is NaN"
`onDragStop` has a callback `{ event, ui: { position ... } }`, and on touch devices here is top and left positions equals NaN, on if event is mouse, all ok.

[2017-01-23 08:52] bokuweb commented on #72
@Hazantip thanks for your report, I'll investigate it.

[2017-01-23 09:41] Hazantip commented on #72
@bokuweb onDrag return correct data, maybe you can take a look on how you implemented onDrag and this might help you to solve problem with onDragStop

[2017-01-26 11:54] benthorndycraft opened #73 "How to keep resizing contained to the bounds of the parent container"
Is there a method to keep the the resizable element within the bounds of a parent container when resizing? It works for dragging when using the "bounds" property set to "parent".

[2017-01-26 11:59] bokuweb commented on #73
It is a bug, please see #57

[2017-02-07 04:31] uinz opened #74 "not support `server side render`"
not support `server side render` ?

[2017-02-07 04:45] bokuweb commented on #74
Sorry, It is unconfirmed..

[2017-02-11 09:03] volkandkaya opened #75 "Feature: Snap to center vertically and horizontally"
Would be really nice if there was an option to allow the rnd-box to snap to center within a certain pixel range.

[2017-02-24 02:26] lokeshgahlot opened #76 "zIndex as state"
It would be really nice if we can zIndex as state.

[2017-02-27 00:26] #76 closed

[2017-03-01 06:54] mfma opened #79 "the problem of draging picture"
Drag the picture, the original picture did not follow the move, is a relatively low transparency of the picture with the mouse moving. At the end of the drag and release the mouse, the original image will be moved to the location of the end of the drag and drop, and if this time to move the mouse, the original image can be moved
![qq 20170301145150](https://cloud.githubusercontent.com/assets/55460

[2017-03-01 08:41] mfma commented on #79
Because the img tag is default support the draggable attribute ，and therefore setting the draggable attribute to false can solve the problem

[2017-03-02 17:45] aconanlai opened #80 "zIndex stutters to lower values when using multiple Rnd elements"
I'm building a web app that uses multiple Rnd elements at once to replicate a desktop experience - multiple draggable icons, and draggable + resizable 'windows'. Clicking on windows that are 'in the background' brings them to the forefront by tracking the 'highest zIndex' and adding to that. However, sometimes, when an element in already in the foreground, clicking on it (and thus firing the onDra

[2017-03-04 08:47] mfma opened #81 "Nested exception"
If the Rnd is nested, the'onClick' events of the subclass and parent are no longer responsive,the parent copies the z-index value witch  belongs to sub class

[2017-03-06 12:36] mfma opened #82 "When the "key" attribute is added, the 'onClick' event does not respond"
When the "key" attribute is added, the 'onClick' event does not respond
![1111](https://cloud.githubusercontent.com/assets/5546094/23610159/86718cac-02ac-11e7-8f98-24b390c6c2ca.png)

[2017-03-20 15:25] jcamposv14 opened #84 "onResizeStop get the current element index or target"
Can I get the current element index or target when I onResizeStop and Drag ?

[2017-03-20 22:57] bokuweb commented on #84
Please bind index for onResizeStop.

[code]

I'm going to add target element to all callbacks for next verion (v5).please wait.

[2017-03-21 19:22] jcamposv14 commented on #84
thank you

[2017-03-21 21:32] jcamposv14 opened #85 "Multiple Rnd"
Hello I have Multiple Rnd element into a components and I need to get the current instance and call the function updatePosition but seems like all the Rnd is update it and I just need one.

This is an example that I have , I removed others props
captions.captions.map(
          (caption, i) => <Rnd key={caption.id} ref={c => { this.rnd = c;}}
            initial={{
              x      : caption.p

[2017-03-21 21:41] #84 closed

[2017-03-22 17:01] jcamposv14 commented on #85
I think I fixed I added this.rnd = []; and into the map ref={c => { this.rnd[i] = c;} so when i call an method I use the index instance.

[2017-03-23 00:46] bokuweb commented on #85
@jcamposv14 Looks good!

[2017-03-23 00:46] #85 closed

[2017-03-31 16:39] dexluce opened #86 "enhancement: don't allow overlap"
Hello,

I see a few way to restrict the overlaping of two rnd elements, but it would be nice to juste set a boolean for that.

As I need this, could you tell me how you would do that? (Do I use onDrag callback to verify if overlap is happening and prevent it?)

Thank you very much for the nice work,
regards

[2017-04-10 15:09] alexdemartos opened #87 "Feature: prevent overlapping/collisions"
Hi,

it would be really nice to include a feature like "allowOverlaping", and when disabled react-draggable(s) from the same parent will avoid being on top of each other (overlapping).

Thank you

[2017-04-10 15:10] alexdemartos commented on #87
Sorry, just saw there's another issue on this matter. Closing.

[2017-04-10 15:10] #87 closed

[2017-04-10 15:11] alexdemartos commented on #86
That would be really nice, actually :)

[2017-04-10 16:00] dexluce commented on #86
Well, I wasn't able to do it by myself. onDrag and onResize doesn't allow the use of any function on the rnd element.
For exemple, this.rnd.updatePosition(... ) won't work in onDrag or onResize. Changing "bounds" doesn't works neither.

So... I change my approach. I have implemented a 'magnet' onResizeStop and onDragStop.
I juste write quickly the psedo-code. Magnet is only apply on X axe.
I don't

[2017-04-11 04:13] kybetter opened #88 "<Rnd> and mouse have different steps when using transform: scale()"
In parent box, I set style like this: `transform: scale(0.471875, 0.227778) `.

And when I try to drag or resize my component, I found it can't follow mouse's distance.

Just like this pic:
![qq20170411-120641 2x](https://cloud.githubusercontent.com/assets/12093502/24892576/33f236a0-1eb0-11e7-9f47-226c2e87b69b.png)

[2017-04-11 09:02] mfma opened #89 "Support keyboard operation"
How to support keyboard operation？I want to change the position by the direction key

[2017-04-13 14:16] mfma commented on #88
There is a solution ：https://github.com/lokewei/react-rnd

[2017-04-14 03:04] mfma opened #90 "Support span editablesu"
When  press the Enter key, the span tag whitch the contenteditable attribute  is true cannot be displayed correctly

![11](https://cloud.githubusercontent.com/assets/5546094/25031599/8c766448-2100-11e7-803d-37001b4f2cb4.png)
![22](https://cloud.githubusercontent.com/assets/5546094/25031824/20e4301e-2102-11e7-8d4c-2843458c8892.png)

[2017-04-18 12:23] kybetter opened #93 "Abort Warning: setState(...) when using timeStamp as component key"
For special purpose, I need to use **time-stamp** as component key.
In my project, I used **Redux** as state manager.
After drag a component, and I try to use **onDragStop** event to update redux's state.
At this time , I received a **Warning** below:
`Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This i

[2017-04-20 02:07] #93 closed

[2017-04-22 07:57] bokuweb commented on #57
Fix this bug on @v5.0.0-rc.1

[2017-04-22 07:57] bokuweb commented on #73
Fix this bug on @v5.0.0-rc.1

[2017-04-22 07:57] #73 closed

[2017-04-22 13:03] bokuweb commented on #57
Please see example.

See demo: http://bokuweb.github.io/react-rnd/
demo Code: https://github.com/bokuweb/react-rnd/blob/master/docs/src/example.js

[2017-04-22 13:05] bokuweb commented on #68
`react-rnd@5.0.0` published. The latest `react-draggable` is used in @5.0.0. Is this resolved?

[2017-04-22 13:05] bokuweb commented on #69
react-rnd@5.0.0 published. The latest react-draggable is used in @5.0.0. Is this resolved?

[2017-04-22 13:06] bokuweb commented on #70
react-rnd@5.0.0 published. The latest react-draggable is used in @5.0.0. Is this resolved?

[2017-04-22 13:06] bokuweb commented on #72
react-rnd@5.0.0 published. The latest react-draggable is used in @5.0.0. Is this resolved?

[2017-04-24 03:29] ColeTownsend opened #94 "Module not found:"
Hey! So this issue is pretty strange – I was previously using version 4.2.0. Since I upgraded, I'm seeing:

[code]

I've tried:
- deleting and reinstalling node modules
- using node `7.2.0` and `7.9.0`
- installing with `npm` instead of `yarn`

[2017-04-24 03:34] bokuweb commented on #94
@ColeTownsend Thanks for your report!! sorry.... I'll do investigation... 🙏

[2017-04-24 03:35] ColeTownsend commented on #94
@bokuweb it could be a problem with `NextJS` as well, as I downgraded to `4.2.0` and still have the problem

[2017-04-24 04:06] ColeTownsend commented on #94
@bokuweb closing this issue as it appears to be a bug with the next.js webpack loader. Downgraded and all works as expected :D

[2017-04-24 04:06] #94 closed

[2017-04-24 04:10] bokuweb commented on #94
@ColeTownsend thanks!!

[2017-04-24 04:35] bokuweb commented on #94
@ColeTownsend It may be a bug in react-rnd@5.0.0.I forgot putting `main: lib/index.js` in package.json... 🙏

https://github.com/bokuweb/react-rnd/blob/master/package.json#L5

I 'd published v5.0.1...

Please try using v5.0.1 if you get a chance. 🙇

[2017-04-25 00:34] bokuweb commented on #79
Please set `draggable=false` or use `event.preventDefault()`.

[2017-04-25 00:34] #79 closed

[2017-04-25 02:59] bokuweb commented on #63
I think, `e.stopPropagation() ` should be invoked by user.

[2017-04-25 02:59] #63 closed

[2017-04-25 03:00] bokuweb commented on #54
react-rnd@5.0.0 published. The latest react-draggable is used in @5.0.0. Is this resolved?

[2017-04-25 10:23] kudlajz commented on #80
@aconanlai I've made a fix, did it help? Can you try it?

[2017-04-25 10:26] kudlajz opened #97 "Resize bounds not working for left and top directions"
When I set bounds to `parent` and try to resize the box beyond the right or bottom border of the parent element, it works as expected, but when I try to resize the box beyond the top or left border of the parent element, it allows me to do that. I'll take a look at `react-resizable-box` and try to make a PR if I come with a solution.

[2017-04-25 10:30] bokuweb commented on #97
@kudlajz Thanks for your report. sorry..., it is a bug.
i'll do investigation. it is maybe react-rnd bug.

[2017-04-25 10:32] kudlajz commented on #97
@bokuweb Thank you, it'll be surely much faster for you to fix that.

[2017-04-25 11:24] #82 closed

[2017-04-25 11:25] #81 closed

[2017-04-25 12:43] Nauss commented on #68
```react-draggable``` issue #218 is fixed but I'm still not sure whether react-rnd has it fixed.
Here are screenshots from the demo (I just added a border and a padding to the parent):
![Demo capture OK](http://imgur.com/a/ZLvB8) ![Demo capture NOK](http://imgur.com/a/zzc6Q)
Top and left padding are handled OK but bottom and right look broken... What do you think ?

[2017-04-25 13:18] bokuweb commented on #68
@Nauss Thanks for your report. It is a bug.
https://github.com/bokuweb/react-rnd/issues/97
I'll do investigation.

[2017-04-26 07:02] robmcmackin opened #98 "updatePosition and updateSize not available in refs"
This wasn't available because I had several rnd components generated by map, and needed to set refs like:
ref={c => { this.rnd[key] = c; }}
and access via this.rnd[0].updatePosition

Resolved from:
https://github.com/bokuweb/react-rnd/issues/85

[2017-04-30 20:55] greenkeeper[bot] opened #103 "An in-range update of react-draggable is breaking the build 🚨"
## Version **2.2.6** of [react-draggable](https://github.com/mzabriskie/react-draggable) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bokuweb/react-rnd/compare/greenkeeper%2Freact-draggable-2.2.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react-draggable
    </td>
  </tr>
  <

[2017-04-30 23:31] greenkeeper[bot] opened #104 "An in-range update of react-resizable-box is breaking the build 🚨"
## Version **2.0.3** of [react-resizable-box](https://github.com/bokuweb/react-resizable-box) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bokuweb/react-rnd/compare/greenkeeper%2Freact-resizable-box-2.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react-resizable-box
    </td

[2017-05-01 12:01] #104 closed

[2017-05-01 12:01] #103 closed

[2017-05-01 12:03] bokuweb commented on #97
@kudlajz Fixed by @5.0.3 🙏

[2017-05-01 12:03] bokuweb commented on #68
@kudlajz Fixed by @5.0.3 🙏

[2017-05-03 02:41] JohnRodney opened #109 "After I call an updatePosition and updateSize the component isn't draggable"
This may be my mistake (probably is) but I have a component that uses your component for some features my component as a `fullscreen` toggle that uses your component, but after I toggle the code I can no longer drag the component.  The code is:

[code]

Here is a demo sorry the gif is kind of fast: ![out](https://cloud.githubusercontent.com/assets/11075982/25646603/b2532f10-2f7f-11e7-8e1b-800f5447

[2017-05-03 02:48] #109 closed

[2017-05-03 02:48] JohnRodney commented on #109
Closing I am dumb it was a mistype and RND is working as expected

[2017-05-03 03:33] #88 closed

[2017-05-03 04:18] bokuweb commented on #109
@JohnRodney Thanks!! Your app looks cool 👍

[2017-05-03 16:02] mfma opened #110 "the problem when when using transform: scale()"
When the parent box add  "transform:scale()", rnd is incorrect to drag or resize it。

[2017-05-05 08:46] mfma opened #112 "support to select mutil elements and drag together"
support to select mutil elements and drag together

[2017-05-10 11:02] alexdemartos commented on #86
With that approeach, the object only gets moved into its place after you've finished dragging. I'm trying to accomplish the same thing, but also while you're dragging the object (no luck yet).

I would need something like "return false" on "onDrag" to cancel the movement, or a way to access the React object on "onDrag" to call setPosition if a condition is met.

[2017-05-10 17:03] schlesingermatthias opened #117 "Drag multiple rnd blocks if bounds is set"
Hi,

I'm using react-rnd version 5.0.3 on Chrome 52.

I want to use multiple react-rnd containers. Everything works fine, except for when I set the `bounds` property. When I do so, the second rnd container can never occupy the space that was initially occupied by the first container (meaning I can drag the first container everywhere, including over the second container, but I cannot drag the secon

[2017-05-10 22:54] bokuweb commented on #117
@schlesingermatthias Thanks for your report.I'll do some investigation.

[2017-05-18 15:01] IsaackRasmussen opened #119 "Draggable element using relative positioning"
I'm using Rnd 5.03 and my all my elements have a y offset of 30px inside its div container. Have any of you seen this before?

If I enable bounds to parent, I can see that I cannot move above this offset and it appears to go a bit beyond the bottom as well.

My nodes that have position 0,0 are also offset by y-30px

I do not know where these 30px are coming from and they do not appear to be relate

[2017-05-19 07:28] Nauss commented on #117
Same problem here using ```bounds="parent"```

[2017-05-19 08:10] Nauss commented on #117
The ability to set the bounds with a "rect" ```{ top: 1, left: 2, right: 3, bottom: 4}``` would also be nice.

[2017-05-23 11:07] #74 closed

[2017-05-24 00:25] bokuweb commented on #117
@schlesingermatthias @Nauss v5.0.4 published. This issue is solved?

[2017-05-24 11:21] Nauss commented on #117
Works exactly like for expected ! Issue is closed for me.
Thanks again for the great work and reactivity :)

[2017-05-24 11:28] bokuweb commented on #117
@schlesingermatthias I close this issue. Please re-open this issue, if you need.

[2017-05-24 11:28] #117 closed

[2017-05-24 13:05] schlesingermatthias commented on #117
@bokuweb That fixed it. Thanks a lot for your fast response!

[2017-05-30 17:31] p4bloch opened #125 "Add support for `disabled` property in react-draggable"
### Feature request

In my use case I would like to have the enhanced component to be able to have all its interaction disabled (dragging, resizing) depending on a boolean flag, like an edit/view mode feature.

I see there is a disabled property in `react-draggable`, but in this library it is not exposed. I did some testing locally and it works as expected if we add the prop, but wanted to raise a

[2017-05-31 00:29] bokuweb commented on #125
@p4bloch Thanks for your request!! It's a nice request. I'm gonna append `disableDragging`!!

[2017-05-31 14:27] p4bloch commented on #125
@bokuweb care to point me somewhere I can read how to get the local environment working? I tested this by linking to my project but it would be best to do it the way you develop this library (and maybe start a contribs guide doc?). Thanks!

[2017-05-31 14:32] bokuweb commented on #125
@p4bloch Thanks! I'm gonna append dev and contribute guide to readme... 🙏  Please run `npm run build:example-watch` and open `docs/index.html` in your browser.If you want to change example, please modify `docs/src/example.js`.

[2017-05-31 14:54] p4bloch commented on #125
Here's my proposal: [Diff link](https://github.com/bokuweb/react-rnd/compare/master...p4bloch:125-disable-dragging?expand=1). Waiting on that contrib guide to know how to proceed with the PR (tests, dist included or not, etc). Feel free to comment 😄

[2017-05-31 14:59] bokuweb commented on #125
@p4bloch Thanks. It looks good to me. Since I'll merge, please will you make a PR?We will add the contribution guide later.

[2017-06-01 13:10] p4bloch commented on #125
Closing as this was implemented in #126. Thanks for being so helpful @bokuweb :)

[2017-06-01 13:10] #125 closed

[2017-06-01 13:19] p4bloch opened #127 "Add shortcut property for disabling resizing"
### Overview of the problem

Currently to disable resizing we need to use `enableResizing` and set every property of `Enable` to `false`, which can be cumbersome and non-intuitive for the user of this library.

### Proposed solution

Wondering if adding a shortcut property, like `disableResizing: boolean` (which will match with `disableDragging`) would make the API easier. Under the hood it will s

[2017-06-02 16:17] greenkeeper[bot] opened #128 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/bokuweb/react-rnd/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-import

[2017-06-08 10:58] sajadghawami opened #131 "onClick not working"
I am not sure if this is a bug or a feature request, but `onClick`doesnt work.

### Overview of the problem

### Description

If `onClick` is set, the event doesnt fire at all.

[2017-06-12 13:37] pionl commented on #125
Hi @bokuweb @p4bloch, thank you for the feature 👍  I've got small issue with the cursor.

When I construct the rnd with disabled dragging, the cursor style is not set in the div (this is OK - cursor: normal), but when I construct the rnd with`disabledDragging` with `false` and change `disabledDragging` to `true` (my component state change), the cursor won't change (stays cursor: move), UI + functi

[2017-06-12 22:26] bokuweb commented on #125
@p4bloch Thanks for your report. I'll fix it.

[2017-06-12 22:52] bokuweb commented on #131
@sajadghawami Thanks for your report. Please use `extendsProps`.

[code]

[2017-06-12 23:03] bokuweb commented on #127
@p4bloch Thanks!! It's a nice idea. But I'm unable to make a decision.Because props feature is deprecated `enableResizing` and `disableResizing`...

[2017-06-26 18:00] xiaoouLi opened #137 "How can I change the cursor for undraggable part to be normal?"
Hi there,

I only want the dialog header to be the drag handler.
        <Rnd
            ref={(dialog) => { this.dialog = dialog; }}
            default={style} bounds={'parent'}
            className={`dialog ${customClass}`}
            onClick={this.onClick}
            dragHandlerClassName=".header"

            <div className="header">
              <ul className="btns">
               .....

[2017-07-01 22:00] dsslimshaddy opened #141 "no props bug"
This line is causing a error if default is not defined.

`<Rnd></Rnd>`

[code]

[2017-07-02 15:49] dsslimshaddy opened #142 "remove inline styles"
instead of inline styles i would reccommend using css in js for static styles.

[2017-07-06 11:06] truefunrun opened #144 "How to add undraggable place into rnd modal ?"
HI @bokuweb!
Question in title of issues.

I have some rnd modal window, into him have a @highcharts chart, which have zooming, and I dont imposible to zoom of chart because the moving of rnd-modal have more priority than my `div` child container.

White window on the picture it is a rnd-modal :)
Can I set **undraggable place** in the **red border on the picture**?

![sadsadsad](https://user-image

[2017-07-06 11:18] truefunrun commented on #144
Omg, I resolve this issue, used:
[code]
:))))

[2017-07-06 11:18] #144 closed

[2017-07-10 16:10] haraldox commented on #119
have the same problem

[2017-07-10 21:54] chunghsheng000 opened #145 "Suggestion: Have z-index controlled by props"
In some case, it will have multiple react-rnd on the screen, different react-rnd has different z-index, and all react-rnd z-index will keep changing depended on which react-rnd the user is currently focusing.

[code]

In this case, developer could update all react-rnd z-index immediately by passing zIndex to the component.
If zIndex is not defined, use default state.z.

[2017-07-10 22:57] bokuweb commented on #145
@chunghsheng000 tahnks for your report. it is bug , and already fixed at v5.0.9.

https://github.com/bokuweb/react-rnd/blob/master/src/components/index.js#L159-L164

Please use v5.0.9 and `props.z`. 🙏

[2017-07-10 22:59] bokuweb commented on #119
@IsaackRasmussen @haraldox sorry. Please show me reproduced project (e.g. webpackbin) 🙏

[2017-07-11 09:24] Konstantinov-Innokentii opened #146 "How can i set width and height to 100%?"
Hi
How can i set width and height to 100% ? In docs said : "For example, you can set 300, '300px', 50%", but with percents it doesn't working. Instead i have 100px, but no 100%. U can see code below.
I am using react-rnd: 5.0.8 and Chromium browser.
[code]
Lot of thanks.

[2017-07-11 18:16] chunghsheng000 commented on #145
It works, thank you

[2017-07-11 18:16] #145 closed

[2017-07-12 16:10] nandukalidindi opened #147 "Rotated RND resizing problem"
**QUESTION**
I am finding it difficult to resize a RND that is rotated by xdeg around the Z axis. Is `resizeHandlerStyles` prop a solution? Or is it not supported by the component altogether?

Thanks

I'm using react-rnd **5.0.8**

### Steps to Reproduce

1. Rotate an RND by 90deg `transform: rotateZ(90deg)`
2. Resize using the right handler

### Expected behavior

Should increase/decrease the wid

[2017-07-16 12:07] lasseborly commented on #142
I'm doing a builder with this tool and the simplicity of the inline styles implementation allows me to utilize the finished product in a lot of different places.
Keep it simple :smile:

[2017-07-20 15:55] jchain commented on #131
Does Rnd extendsProps support onMouseDown and onMouseUp? In my code, it supports onClick and onMouseMove but doesn't support onMouseDown or onMouseUp. I'm not sure if the parent element steals the event.

[2017-07-24 17:37] #57 closed

[2017-07-26 21:03] xiaoouLi opened #153 "Please please fix the cursor issue.."
I don't want the cursor to always be move..
The style is settable in release 4, but after 5.0.8, it's broken.

Can you please fix it?
Thanks!

[2017-07-27 13:20] nitkapawel commented on #153
Also when i set prop `dragHandlerClassName=".handle"` only .handle element should have the cursor: move, the rest of elements should have the default cursor

[2017-07-27 13:22] bokuweb commented on #153
@xiaoouLi @nitkapawel Thanks for your report.I'll fix it.

[2017-07-28 12:25] nitkapawel commented on #137
You can try the simplest trick:
`<Rnd
    ...
    className="snapshotDialog"
    dragHandlerClassName=".handle"

in CSS:

[code]

[2017-08-07 15:00] #97 closed

[2017-08-13 10:48] mididev opened #158 "Call updatePosition in onDrag"
I wan't to implement a custom snapping to certain element borders, for resizing as well as for dragging.

Resizing works like a charm since I just need to call...

newWidth = this.snapX(x) - position.x;
`this.rnd.updateSize({ width: newWidth, height: newHeight });`

...in onResize and the size gets overwritten.

But I can't achieve the same thing for dragging, because this.rnd.updatePosition(...)

[2017-08-14 14:07] sajadghawami commented on #66
`this.rnd.updatePosition({x: newX, y: newY});`

[2017-08-15 14:10] sajadghawami opened #160 "get the current position without callback"
Hey there,

i guess this is pretty straight forward:

How do you get the current x and y coordinates for the `RND` without a callbacks?

I didn't find anything in the docs, nor have i found a solution for this.

[code]

This doesn't seem to hold the information either. What am i missing?

Thanks.

[2017-08-15 14:17] sajadghawami commented on #146
this is a workaround:

You create a div with `100%` for width and height, and create a `ref`:

[code]

Now, when calling `this.pageSize.clientWidth` or `this.pageSize.clientHeight` you will get the sizes in pixel.

[2017-08-16 07:38] sajadghawami commented on #131
I sloved this by adding a `div` inside the `RND` with `width: 100%; height:100%` then i attached all the necessary events i needed to the inner `div`.

hope this helps!

[2017-08-16 07:38] #131 closed

[2017-08-18 15:05] ThiagoFacchini opened #161 "Weird resizeGrid behaviour"
Hello Guys,

Really appreciate this wrapper around 2 of the most usable libraries for UI, although I'm struggling with a very weird behaviour regarding resizeGrid.

I'm using Chrome 60.0 for Mac.

Below my code:
`<Rnd
	default={{
		x: 0,
		y: 0,
		width: this.state.canvasWidth,
		height: this.state.canvasHeight
	}}
	bounds='parent'
	className={styles.canvasRenderer}
	resizeGrid={[128, 128]}
	onRes

[2017-08-19 08:43] Jason121250148 opened #162 "Shaking when resizing the anchor that outside its parent but within its bounds"
I am using the 5.0.8 version.
When the rnd is inside bounds but outside its offsetParent,  i resize the left-bottom anchor or left-top anchor(which both reset the x and y), the rnd will shake! That is x : -1 1 -2 2 -3 3....i dont know whether it is bug or i dont use  it correct.

[2017-08-23 07:21] sajadghawami commented on #158
i did the same thing, and had simliar problems. I solved it by using:

[code]

You can use `this.rnd.updatePosition` in there without a problem.

[2017-08-23 07:36] mididev commented on #158
Thanks for your answer!

Yes, that's true and works quite well. But like that the UI feeling isn't really intuitive because like that for resizing I get an instant snap-to-the-grid feedback while dragging (resizing), but for dragging (onDrag) it only snaps when dragging is over :-/

I'm sure there is a way to do it but haven't found it so far. Would be very grateful if someone had an idea!

[2017-08-23 09:14] sajadghawami commented on #158
i get your point, and had the same issue, because i needed customizable and multiple grids. So, i ended up doing the same for resize, keeping the logic in

[code]

Thus having the same UX for both dragging and resizing.

hope this helps :)

[2017-08-23 10:19] mididev commented on #158
It's a possibility, but I definitely need live snapping.

Now I found a way that works (although it's a nasty hack) great so far:

I dived into react-draggable (which react-rnd uses for dragging) and injected this code in the onDrag method:
[code]

Now I can go to my componentDidMount method and write this:
`this.rnd.draggable.snapX = this.snapX.bind(this);`
Thereby I can now write a custom snap c

[2017-09-04 12:59] iphonic opened #166 "Wrong position"
**Need Help.**

I am not able to position the component properly in my implementation, see below

![rnd](https://user-images.githubusercontent.com/5745637/30027176-7721a3e2-919d-11e7-9b09-60bb33cc28d6.png)

In the image above the square red area is the area where the Rnd component should actually show, but the component is going beyond this and it is not visible despite the translate x and y posit

[2017-09-04 13:05] bokuweb commented on #166
@iphonic Thanks for your report. Could you please provide reproduced minimum project? :)

[2017-09-04 14:42] bokuweb commented on #166
Could you please try `react-rnd@5.1.1`.

[2017-09-04 16:37] iphonic commented on #166
@bokuweb No it didn't fix the problem, but I can make the rnd component visible when I am turning off the transform css, and adding left and top instead see in the image below..

![rnd3](https://user-images.githubusercontent.com/5745637/30034208-700df694-91bd-11e7-8287-54db20a73b39.png)

Is there any way to override this ?

[2017-09-04 18:50] iphonic commented on #166
I fixed by adding **left:0px** and **top:0px** in inline style of rnd component. Thanks for prompt response and help.. Great component.

[2017-09-04 18:50] #166 closed

[2017-09-04 20:43] iphonic opened #168 "onClick and drag callbacks getting executed together"
I need to implement onClick on the component, which I did like mentioned below

[code]

The onClick callback does call, but as soon as drag stops it gets called, which should not happen it should work on click not on drag and stop.

I have tried to add child element in Rnd and assign onClick on the div but it has same behavior.. See the code below

[code]

Any solution? Thanks.

[2017-09-04 23:44] bokuweb commented on #168
could you please try `stopPropagation`.

[2017-09-05 09:29] carly1987 commented on #127
But, i set enableResizing to false or true, it will be disableResizing

[2017-09-05 10:14] iphonic commented on #160
@sajadghawami You can try this

`console.log("Resized ",this.rnd.resizable.state);`
**Above will give updated width and height and other informations**

`console.log("Dragged ",this.rnd.draggable.state);`
**Above will give updated x and y position and other informations**

Cheers.

[2017-09-05 14:57] sajadghawami commented on #160
Thanks, i guess this will do the trick :)

[2017-09-05 14:57] #160 closed

[2017-09-05 17:51] iphonic commented on #168
This doesn't work, I have managed to with following trick..

[code]

Hope it helps someone.. Thanks.

[2017-09-05 17:51] #168 closed

[2017-09-10 00:42] bokuweb commented on #68
Could you please reopen  if you need.

[2017-09-10 00:42] #68 closed

[2017-09-10 00:42] bokuweb commented on #54
Could you please reopen  if you need.

[2017-09-10 00:42] #54 closed

[2017-09-10 00:43] bokuweb commented on #69
Could you please reopen  if you need.

[2017-09-10 00:43] #69 closed

[2017-09-10 00:43] bokuweb commented on #70
Could you please reopen  if you need.

[2017-09-10 00:43] #70 closed

[2017-09-10 00:43] bokuweb commented on #72
Could you please reopen  if you need.

[2017-09-10 00:43] #72 closed

[2017-09-10 00:44] bokuweb commented on #98
Could you please reopen  if you need.

[2017-09-10 00:44] #98 closed

[2017-09-10 00:45] bokuweb commented on #142
Could you please reopen  if you need.

[2017-09-10 00:45] #142 closed

[2017-09-10 00:47] bokuweb commented on #71
Could you please `key` or `extendsProps`.

[code]

Could you please reopen  if you need.

[2017-09-10 00:47] #71 closed

[2017-09-10 00:48] bokuweb commented on #127
Could you please reopen  if you need.

[2017-09-10 00:48] #127 closed

[2017-09-10 00:49] bokuweb commented on #141
`default` is required.
Could you please reopen  if you need.

[2017-09-10 00:49] #141 closed

[2017-09-10 01:24] #153 closed

[2017-09-10 12:16] bokuweb commented on #147
related? https://github.com/bokuweb/re-resizable/issues/93

[2017-09-10 12:19] bokuweb commented on #119
@haraldox @IsaackRasmussen Is it reproduced in @v6?

[2017-09-11 08:52] pionl commented on #147
@nandukalidindi The library will not support rotation by it self.  As discussed here (https://github.com/bokuweb/re-resizable/pull/129). You must use latest version and implement your logic.

Here is my implementation in ES6. You must know how big the div is. Set the `handleWrapperStyle` prop. Feel free to use it. Don`t know If it should be implemented by the library. @bokuweb ?

The rotation is s

[2017-09-11 10:10] bokuweb commented on #147
@nandukalidindi You can use `handleWrapperStyle` or `handleWrapperClass` on v6.0.0.
@pionl Thanks!!

[2017-09-11 17:42] sonyan opened #171 "TouchEvent is not defined"
Just upgraded to 6.0.0 and got the following compile error:
/Users/sonyan/Projects/zen/node_modules/react-rnd/src/index.js:11
export class TouchEvent2 extends TouchEvent {
                                 ^
ReferenceError: TouchEvent is not defined
    at Object.<anonymous> (/Users/sonyan/Projects/zen/node_modules/react-rnd/src/index.js:11:34)
    at Module._compile (module.js:570:32)
    at Objec

[2017-09-11 23:38] bokuweb commented on #171
@sonyan Thanks for your report :) I've published v6.0.1. Could you please try it?

[2017-09-11 23:41] bokuweb commented on #162
@Jason121250148 Could you please provide reproduced sample?? If you'd like to use webpackbin. https://www.webpackbin.com/bins/-KtgCwfKgnXqQpQ31OD4

[2017-09-12 04:15] bokuweb commented on #146
Fixed y v6.00.

Please try as follows.

[code]

[2017-09-12 04:15] #146 closed

[2017-09-12 04:15] bokuweb commented on #146
Please reopen this issue if you need.

[2017-09-12 09:58] namoweixiao opened #174 "why react-resizable minConstraints Non-existent"
### Overview of the problem

I'm using react-resizable-box **version** [x.x.x]

My **browser** is:

I am sure this issue is **not a duplicate**?

### Description

### Steps to Reproduce

1. First Step
2. Second Step
3. and so on...

### Expected behavior

### Actual behavior

![image](https://user-images.githubusercontent.com/15919331/30319954-d571dae2-97e3-11e7-857e-96882f498979.png)

[2017-09-12 16:51] subeax opened #177 "Way to not overlap two Rnd's"
When I have one parent div with two Rnd components in it, is there any easy way to let them know each other and do not overlap when resizing/dragging?

Sample: https://www.webpackbin.com/bins/-KtqrG6d57BLPH9dgSbU

[2017-09-12 18:37] subeax commented on #86
Hi guys, any updates on this?

[2017-09-12 18:38] #177 closed

[2017-09-12 18:38] subeax commented on #177
duplicate

[2017-09-13 17:50] sonyan commented on #171
it works

[2017-09-13 17:50] #171 closed

[2017-09-13 21:31] bokuweb commented on #171
Sorry, I had already 7.0.0 published

[2017-09-15 14:53] adjohu commented on #174
[re-resizable](https://github.com/bokuweb/re-resizable) takes `minWidth` and `minHeight` props

[2017-09-15 22:18] bokuweb commented on #174
@adjohu Thanks!

[2017-09-15 22:18] #174 closed

[2017-09-15 22:24] bokuweb commented on #65
@swapnil95 Sorry for a late reply. Could you please provide reproduced project on webpackbin with latest version rnd? https://www.webpackbin.com/bins/-Ku4nRhImIfnt9N08lGu

[2017-09-15 22:27] bokuweb commented on #158
@mididev Could you please try `position` props on v7.1.0? If you can not solve this issue, please provide example on webpackbin https://www.webpackbin.com/bins/-Ku4nRhImIfnt9N08lGu.

thanks

[2017-09-15 22:28] bokuweb commented on #161
@ThiagoFacchini Could you please provide reproduced project on webpackbin with latest rnd? https://www.webpackbin.com/bins/-Ku4nRhImIfnt9N08lGu

thanks

[2017-09-15 22:53] bokuweb commented on #147
@nandukalidindi @pionl implemented. https://hangouts.google.com/hangouts/_/wacul.co.jp/wacul-remote?authuser=1

[2017-09-15 22:55] bokuweb commented on #119
Could you please provide reproduced project on webpackbin with latest version rnd? https://www.webpackbin.com/bins/-Ku4nRhImIfnt9N08lGu

[2017-09-15 22:56] bokuweb commented on #110
@mfma Could you please provide reproduced project on webpackbin with latest version rnd? https://www.webpackbin.com/bins/-Ku4nRhImIfnt9N08lGu

[2017-09-15 22:59] nandukalidindi commented on #147
Sorry, I haven't gotten a chance to try out the approach suggested by @pionl which could work for my use case. Now that `handleWrapperStyle` is implemented in the library itself, will give it a shot. Thanks @pionl and @bokuweb. Closing this issue for now.

[2017-09-15 22:59] #147 closed

[2017-09-16 08:34] Jason121250148 commented on #162
I wrote a demo in webpackbin(with the version 7.0.1): https://www.webpackbin.com/bins/-Ku8kSSW1qIG_xwORj_x
In this case, drag the "left-bottom" to resize the box, the box will shake.

[2017-09-16 08:39] bokuweb commented on #162
Thanks :)

[2017-09-16 08:51] Jason121250148 commented on #162
And also in this case，I add "extendsProps={{ onClick: handleClick }}" and find that the prop "extendsProps" does not work in the newest version 7.0.1. That will be very kind of you to check on it.

[2017-09-19 06:55] bokuweb commented on #162
@Jason121250148 Could you please use v7.1.3.

thanks!

[2017-09-19 06:57] #162 closed

[2017-09-19 07:59] bokuweb commented on #65
@swapnil95 Could you please try `e.stopPropagation` ?
Please re open this issue, if you need.

[code]

[2017-09-19 07:59] #65 closed

[2017-09-19 08:01] bokuweb commented on #89
I think that it is not a duty of this component. Please implement with parent component.

[2017-09-19 08:01] #89 closed

[2017-09-19 13:07] Matt95 commented on #68
I am still having this issue, with bounds='parent' and setting the height to a % value via updateSize. The re sizeable takes the height of the root not parent element

[2017-09-19 13:10] bokuweb commented on #68
@Matt95 Could you please provide reproduced project in webpackbin(https://www.webpackbin.com/bins/-Ku4nRhImIfnt9N08lGu) and open new issue?

[2017-09-19 17:20] diegoclerici opened #185 "Overriding or adding transform property"
Hi team I'm using react-rnd **version** [latest]

My question is: is there any way to add css transform of RND component using style property?

Example code:
[code]

I need this because, I'm trying to add Rotation capabilites to RND component using CSS transform: rotate()

https://www.webpackbin.com/bins/-KuQ4kQj4Os2k9glctKz

Thanks!

[2017-09-19 23:53] bokuweb commented on #185
@diegoclerici Thanks for your report :) Hmm, It is a difficult issue, transform property is overwritten by `react-draggable`.I will think about it.

[2017-09-25 12:50] NewOldMax opened #188 "maxWidth and maxHeight props don't respect after resize"
### Overview of the problem
I'm using react-rnd 7.1.3
https://www.webpackbin.com/bins/-Kut-6Jbwje1eyPBYBQN

My **browser** is:   Chrome  61.0.3163.100 on Windows 10

I am sure this issue is **not a duplicate**

### Description
When you resize component, `maxWidth` and `maxHeight` props are replaced with internal calculations

My use case:
I'm building a component which have button "maximize"
![ima

[2017-09-25 13:28] bokuweb commented on #188
@NewOldMax Thanks for your report.
When you use `bounds` property, maxWidth and maxHeight are set computed size calculated by internal logic.If you would like to keep 100% please remove bounds props.

[2017-09-25 13:35] NewOldMax commented on #188
But I need to have `bounds`...
It's possible to take `maxWidth` from `props` after resize stop event? Like, ok, you shouldn't resize more that `bounds` element size, but after resize, we don't need to keep this calculated `maxWidth`

[2017-09-25 13:58] bokuweb commented on #188
@NewOldMax Thanks. I'm gonna try it.

[2017-09-29 01:31] #188 closed

[2017-09-30 10:11] bokuweb commented on #188
@NewOldMax I've published v7.1.4.

[2017-09-30 20:17] NewOldMax commented on #188
Thanks! 🍺

[2017-10-03 07:55] dubravcik commented on #158
@bokuweb I tried it with position property and it doesn't work. Looks like this.rnd.updatePosition() doesn't work properly in onDrag() but it works in onDragStop().
https://www.webpackbin.com/bins/-KvSorX3JvYyXLcsYCVO
Thanks

[2017-10-16 17:55] ryanlegler commented on #110
See example below where I've added a "transform:scale()" to parent div.
https://www.webpackbin.com/bins/-KwaJCSIKJcVRtsZ5Hn4

[2017-10-17 01:39] bokuweb commented on #110
@ryanlegler Thanks. If you set `transform:scale` to Rnd component directly, `transform` is overwritten by `react-draggable` probably.

See related issue, https://github.com/bokuweb/react-rnd/issues/185

[2017-10-17 06:06] oldo opened #197 "resize snap to grid relative to dragged edge location"
I'm using react-rnd **version** [7.1.4]

First up, thanks so much for maintaining and developing this component. It has been fantastic and really intuitive to work with :-)

I have an issue that I can't seem to resolve though: I am rendering rnd components in various locations on my page and have enabled resizing in left and right directions and set them snap to a `resizeGrid: [40, 0]`. My desired

[2017-10-17 17:10] IsaackRasmussen commented on #119
Hi @bokuweb

I haven't had the chance to do this yet, but I will try it out with v6 first.

[2017-10-18 00:45] bokuweb commented on #197
@oldo Thanks for your report. I'm gonna do some investigation. could you please wait for a while

[2017-10-18 00:48] oldo commented on #197
Thanks @bokuweb

Let me know if there is anything I can do down my end :-)

[2017-10-20 03:09] ryanlegler commented on #110
@bokuweb thanks for your response - I think the issue described here is slightly different than the related issue you linked to. The scale in question is on a parent div of the react-draggable component. The issue isn't that the scale is overwritten, it's that the pixel calculation made by react-rnd are incorrect because of the scaled context that it's in.  From digging around a bit i found this:

[2017-10-23 17:48] Nauss opened #198 "Why position could not be strings ?"
Not really a bug but I was wondering why the `size`'s `width` and `height` could be strings but `position`'s `x` and `y` couldn't ?

[2017-10-25 00:40] bokuweb commented on #198
@Nauss `react-rnd` use `react-draggable`. This restriction is due to `react-draggable`.

[2017-10-25 00:40] #198 closed

[2017-10-25 09:36] argnist opened #199 "Crash in IE11 on window close"
It is a bug

### Overview of the problem
I'm using react-rnd 7.1.4

My **browser** is:   IE 11

### Description

Sometimes when window is closed (running componentWillUnmount) I get error 800a025e in IE. Thats because IE haven't method window.getSelection().removeAllRanges() in removeUserSelectStyles() of react-draggable.
It will not be fired if prop of react-draggable enableUserSelectHack is set

[2017-10-25 11:51] bokuweb commented on #199
@argnist Thanks for your report. I add `enableUserSelectHack`prop to `react-draggable`.

[2017-10-25 22:46] volkandkaya opened #201 "onCopy not working for extendsProps"
https://www.webpackbin.com/bins/-KxKg89FdG7eLglzj5E6

### Expected behavior

onCopy to work as onClick does

### Actual behavior

Nothing

I also believe that it is causing problems with other onCopy properties. The code was working fine a few months ago and then I updated my package.json and it isn't working now.

Hopefully, the webpackbin helps, if not let me know.

[2017-10-26 01:06] bokuweb commented on #201
@volkandkaya Thanks for your report and reproduced project 👍

[2017-10-26 06:30] argnist commented on #199
Setting to false yields showing selections on text in draggable zone :( That looks not good. I created issue to react-draggable to fix the bug. Could you make enableUserSelectHack settable via Rnd, not hard-coded?

[2017-11-08 04:57] oldo commented on #197
Hi @bokuweb

Any news on this? :-)

[2017-11-08 05:52] bokuweb commented on #197
@oldo Sorry. I have not started yet...

[2017-11-09 01:46] Hearen opened #203 "The Demo Code is unaccessible"
https://github.com/bokuweb/react-rnd/blob/master/docs/src/example.js Would you please update this link? Thank you so much.

[2017-11-10 08:55] webstermobile opened #204 "How to change the cursor type of corner"
Firstly, this is a wonderful react component , Thanks for you !
The following is my question:
I want to change the cursor type of each corner,
default they are : row-resize col-resize ne-resize se-resize sw-resize nw-resize
How can I change theme ?
Looking forward to your reply !
My email : webstermobile@hotmail.com

[2017-11-11 10:04] bokuweb commented on #203
Sorry, would you please see webpackbin for now. https://www.webpackbin.com/bins/-Ku4nRhImIfnt9N08lGu

I'm gonna update it :)

[2017-11-12 18:40] mkg0 commented on #204
you can use `resizeHandleStyles` or `resizeHandleClasses` properties for overriding cursor type

[code]

[2017-11-12 23:19] bokuweb commented on #204
@mkg0 Thanks :)

[2017-11-13 01:32] webstermobile commented on #204
Thank u pretty much !

[2017-11-13 10:35] #204 closed

[2017-11-15 18:31] xiaoouLi commented on #137
That's my solution too!

Thanks!

[2017-11-15 18:31] #137 closed

[2017-11-15 22:19] jmeberst opened #205 "Rnd inside of an SVG foreignObject"
I'm trying to get Rnd to render inside of an SVG foreignObject.

Right now it just renders an empty div inside of the foreignObject tag. I know it will need to at least have xmlns="http://www.w3.org/1999/xhtml"
added to the div rendered by Resizable, but I'm kind of stuck there for now.

 If I can get it working I'll do a Pull request.

`<foreignObject width="100%" height="100%"><div></div></forei

[2017-11-15 23:10] bokuweb commented on #205
@jmeberst Thanks :)

[2017-11-21 09:21] tauren opened #206 "Support for cancel feature of react-draggable"
### Overview of the problem

I'm using react-rnd@7.1.5

### Description

I have a draggable/resizable panel that contains a slider control. Manipulating the slider should not drag the panel around. Ideally, the panel should be draggable by clicking anywhere except for the slider control area.

The [https://github.com/mzabriskie/react-draggable](react-draggable) library supports a `cancel` feature

[2017-12-04 12:14] gsharath opened #208 "zIndex seems to be not applying in v7"
Hi,

Thanks a lot for this great component. Its helping me a lot to drag and drop the required elements.

I have an issue while setting zindex of an element.
I am trying to set zIndex dynamically in version 7.1.5 and when i check zindex by inspecting element, i am not able to see zindex applied.

After checking out for this issue, found out I checked https://github.com/bokuweb/react-rnd/issues/52

[2017-12-04 23:33] #206 closed

[2017-12-05 01:36] tauren opened #209 "Bounds checking bugs"
### Overview of the problem

I'm finding several bugs related to bounds checking.

1. When `bounds="window"`, attempts to drag the Rnd cause it to move to top left of window. You can resize it without it moving, but when you then try to drag, it moves. See it here:
https://www.webpackbin.com/bins/-L-ZFjL6mq72pTvbHIHU

2. When `lockAspectRatio` is set and `bounds="parent"`, it is possible to resize

[2017-12-13 22:56] LMS007 opened #211 "size and position props don't work"
[code]

**```index.js:67 Uncaught (in promise) TypeError: Cannot read property 'x' of undefined
    at new Rnd (index.js:67)```**

Looks like its still looking for props.default.x and y

[code]

but docs say I don't need to pass them in.
:(

[2017-12-13 23:00] LMS007 commented on #211
I upgraded from 5.x to 7.x and that fixed it.

[2017-12-13 23:00] #211 closed

[2017-12-26 07:20] manas-hegde opened #214 "Highlight borders onClick of Rnd"
First of all thank you for a nice react component.
it would be better if you provide rotate option too.
currently i need to change className on click of Rnd. so that i can click on an element first later i can do resize and drag options

[2017-12-28 03:24] maixing commented on #88
How does this problem be solved?

[2017-12-28 07:30] kybetter commented on #88
I used a legend version, and I change the `index.js` witch locate at `ReactRnd/lib/ReactResizableBox/index.js`. Then computed scale position and size.

useful code:

[code]

[2017-12-28 07:56] maixing commented on #110
Please merge

[2017-12-28 09:37] maixing commented on #88
Where is legend version?

[2017-12-28 09:41] maixing commented on #88
说汉语啊，英语费劲

[2018-01-08 14:41] Thilagm opened #215 "When using position not able to resize in all direction"
### Overview of the problem

I'm using react-rnd **version** [x.x.x]   16.1.1

https://www.webpackbin.com/bins/-L2L9lheLunEuwnlFL0A

My **browser** is:   chrome

I am sure this issue is **not a duplicate**? Not duplicate

### Description

### Steps to Reproduce

1. use size and position in Rnd
2. try to resize from top and left, not able to resize in that direction

### Expected behavior

### Actu

[2018-01-09 09:55] koutsenko opened #216 "Removing element in onDragStop handler"
### Overview of the problem

I'm using react-rnd **version** [7.1.5]

My **browser** is:   Chrome 63 x64

I am sure this issue is **not a duplicate**? Yes.

### Description

If I want to remove an Rnd-wrapped Component instance in the onDragStop handler (actually, redux store updated, props recalculated and no Component is created and rendered again), I get an error-like warning

 Can only update

[2018-01-09 15:23] iamnotstone opened #217 "how prevent dragging on child element"
I am using <input> element as a child element of <rnd>. Is there any way to prevent dragging action when a want to select content in the input box?

[2018-01-10 02:32] maixing commented on #88
Can you  share ReactRnd / lib / ReactResizableBox / index.js?

[2018-01-10 02:51] heekyu opened #218 "Load error when using js file in CDN"
I'm using react-rnd 7.3.0

My **browser** is:   Chrome

react-rnd works well with node_modeuls/react-rnd
But if load from CDN, react-rnd load fail with error

CDN urls(all results are same)
https://cdn.jsdelivr.net/npm/react-rnd@7.3.0/lib/react-rnd.umd.js
https://cdn.jsdelivr.net/npm/react-rnd@7.3.0/lib/index.es5.js

Error: Minified React error #130; visit http://facebook.github.io/react/docs/erro

[2018-01-17 03:23] maixing commented on #88
https://maixing.github.io/drag/index.html#/

[2018-01-17 12:51] koutsenko commented on #110
Any news?

[2018-01-17 12:51] koutsenko commented on #185
Any news?

[2018-01-18 08:32] kybetter commented on #88
good job

[2018-01-21 11:31] dr15 commented on #217
Hey, you can use this: https://github.com/bokuweb/react-rnd#cancel-string
Just pass a string with a class name to the 'cancel' prop, and give this class name to the child element

[2018-01-22 05:17] iamnotstone commented on #217
Thanks for your reply. I'll try your suggestion to improve my project.
I solved this problem on this way, but it's not elegant enough:

  `onChildrenMouseOver(e){
    e.preventDefault()
    this.disableDragging()
  }

  onChildrenMouseOut(e){
    e.preventDefault()
    this.enableDragging()
  }   `

[2018-01-23 12:02] NewOldMax opened #221 "maxWidth and maxHeight don't respected after browser window resizing"
### Overview of the problem

I'm using react-rnd 7.3.0
My **browser** is:  Chrome 63.0.3239.132 (Win 10)
I am sure this issue is **not a duplicate**

### Description
[code]
I'm triggering rerender after browser window size change, so I'm changing maxWidth prop, but it doesn't affect maxWidth of `<Rnd>` component, because it calculates only in `onResizeStart` and `onResizeStop` functions.
And if af

[2018-01-30 04:48] khoaanh2212 opened #223 "How to force resize only square"
I have a case,just allow user can resize in square type.How can i do that?
Thanks

[2018-01-31 09:34] khoaanh2212 opened #224 "How to stop resize when mouse out of box"
How can i stop resize when mouse out of box? like this example http://bokuweb.github.io/react-rnd/

[2018-01-31 10:00] #224 closed

[2018-02-05 07:02] bokuweb commented on #223
@khoaanh2212 Could you please use `bounds` props.

[2018-02-05 07:02] #223 closed

[2018-02-05 10:54] khoaanh2212 commented on #223
@bokuweb does Bounds props use for drag and drop? my problem is about resize item,when i resize,mouse can make item resize like rectangle.and i want to force resize item just in square.
How can i do that?

[2018-02-07 18:44] TamarAmit opened #225 "The webpackbin example that appears in the readme file is not working"
bug, not related to a browser  (tested on both firefox, chrome and explorer)
### Overview of the problem

I am trying to open the webpackbin project from the latest [link](https://www.webpackbin.com/bins/-KyeXupuBJyBPaIN0F_i)

But nothing is presented on the right area of the page, and then I receive the following message:
"Sorry, something went wrong, please report or refresh"

It can be reproduc

[2018-02-07 18:56] TamarAmit commented on #225
This is the console output:
-----------------------------
main.js Failed to load resource: the server responded with a status of 404 (Not Found)
sandbox.webpackbin.com/ Failed to load resource: the server responded with a status of 500 (Internal Server Error)
sandbox.webpackbin.com/:1 Access to Script at 'https://webpack-dll-prod.herokuapp.com/v6/react-dom%4015.4.2%2Breact-rnd%407.1.5%2Breact%4015

[2018-02-13 15:42] romanlex commented on #209
Hello, your solve this issues?

[2018-02-15 00:40] bokuweb commented on #209
Thanks for your reports. I'll investigate it.

[2018-02-19 07:45] naveen4854 opened #228 "TouchEvent for the children not triggering onclick( mouseDownEvent ) provided for the children"
I have provided onclick event for my children inside RnD.
they are not triggered on touch from mobile devices.

so, i logged the events in ReactEventListener.js in dispatch event as below

dispatchEvent: function (topLevelType, nativeEvent) {
    console.log(topLevelType)
    if (!ReactEventListener._enabled) {
      console.log(topLevelType, 'topLevelTypereturn')
      return;
    }
// ... there

[2018-02-20 05:23] naveen4854 commented on #228
Looks like one of the callback events had stopPropagation.
Sorry the for the inconvinience.

[2018-02-20 05:23] #228 closed

[2018-02-28 10:15] 823844596 opened #229 "dragStop img tag need click mouse？"
is it a bug of react rnd?

###
i use react-rnd with the 7.3.0 version

##
my browser is chrome 64.0.3282.167.

### Description
i use img tag in Rnd, when i drop img, i need to click mouse to drop the img, my code is:

     <Rnd ref={id => { this.rnd = id; }}
         default={{ x, y, width, height }}
         minWidth={minWidth} minHeight={minHeight}
         maxWidth={maxWidth} maxHeight={maxHeig

[2018-03-01 18:49] beavcast opened #230 "Add element rotation"
Hi to everyone,

I'm using react-rnd 7.2.0 in my projects and glad to say it's a very good package.

I was wondering if there is (or it'll be) the possibility to rotate the elements as well as drag and resize. I'd like to include that feature in my components, but I don't know how to do it properly.

Someone can help? Thanks in advance.

[2018-03-06 07:13] dholakiyaankit commented on #79
event.preventDefault(); works like a charm, I was having issue when I start dragging the image attached to my mouse and it keeps moving with my mouse. I resolved it using preventdefault.

[2018-03-07 16:15] anthonyalviz commented on #230
+1

[2018-03-19 22:42] Adamkzh commented on #229
got the same problem.

[2018-03-19 22:51] Adamkzh commented on #229
Solve the problem by adding ` onMouseDown={ (e)=> {e.preventDefault()}}`
The first click just like onMouseDown action.

[2018-03-20 17:18] dotku commented on #137
But drag still take effect for none draggle place :(

[2018-03-22 02:08] 823844596 commented on #229
got it, thanks~

[2018-03-23 04:34] bokuweb commented on #225
Thanks :) Please use codesandbox https://codesandbox.io/s/y3997qply9

[2018-03-23 04:34] #225 closed

[2018-03-23 04:36] bokuweb commented on #215
@Thilagm Sorry.. Could you please reproduced project with codesandbox https://codesandbox.io/s/my4kjly94x, if you get a chance. Because webpack bin is dead.

[2018-03-23 22:04] Adamkzh commented on #230
[https://codepen.io/anon/pen/YZrrWM](url)

Check this out, It's pretty cool, I was wondering if we could add a input to let the user enter the rotate degree, also let the user decided the resize degree. Looking forward to your help.

[2018-03-24 09:08] Adamkzh commented on #230
@bokuweb
This bug still not solve yet. Hope you can help with this.

[2018-03-24 09:09] Adamkzh commented on #229
@bokuweb
This but still not solve yet. Hope you can help with this.

[2018-03-24 09:14] bokuweb commented on #229
@Adamkzh Sorry, could you please provide reproduce project ( by code sandbox https://codesandbox.io/s/y3997qply9), if you get a chance?

[2018-03-24 22:11] Adamkzh commented on #229
[https://codesandbox.io/s/vjn2jw0zk5](https://codesandbox.io/s/vjn2jw0zk5)

Check this out. It works fine on Mobile. but for chrome & firefox it not work.

[2018-03-24 23:08] bokuweb commented on #229
@Adamkzh Thanks :)

@823844596 @Adamkzh I think, we need to add `draggable={false}` to `<img />`.

https://codesandbox.io/s/2zzkrv55ry

[2018-03-24 23:10] bokuweb commented on #229
It is wondering whether this component adds `draggable = {false}`, but we think that it is better to add it on the user side...

[2018-03-25 00:44] Adamkzh commented on #229
@bokuweb Thank you so much.

[2018-03-25 00:45] #229 closed

[2018-03-29 14:19] chemitaxis commented on #230
Hi guys, here you have a good start point...

https://codepen.io/jacazek/pen/wWddgv

[2018-04-05 19:58] chemitaxis commented on #230
Hi @Adamkzh @anthonyalviz @bokuweb @beavcast here you have a demo of a resizing, rotating and dragging that works perfect:

https://www.jqueryscript.net/demo/jQuery-Plugin-To-Transform-DOM-Elements-On-Web-Page-Free-Transform/example/

I have "googled" the entire web, but I can't find any good solution except that.

The repo is public, and here is the link (https://github.com/gthmb/jquery-free-tran

[2018-04-09 04:40] ryanmarshall commented on #215
@Thilagm I had the same issue and it was fixed when i changed my resize callback from "onResizeStop" to "onResize."

[2018-04-10 20:51] arnauddb commented on #158
Any news ?

[2018-04-17 05:21] silentarrowz opened #298 "marker position changes as screen size is altered"
**I need help with a problem that needs fixing or maybe this is a bug. dont know for sure**

### Overview of the problem
**I am displaying an image and then using a marker on it. the problem is that when the screen size is altered. the marker also changes its position, why is this happening? and how can I fix this so that the marker stays on the same position relative to the image.** here's the li

[2018-04-17 12:29] silentarrowz commented on #298
issue solved

[2018-04-17 12:29] #298 closed

[2018-04-17 13:26] hanbar opened #299 "Internet Explorer 11 SCRIPT438: Object doesn't support property or method from"
When trying to resize IE throws error from this function:

[code]

and does not resize the div.

[2018-04-21 04:44] begoat opened #303 "cursor offset while dragging within a zoomed container"
### Overview of the problem

I'm using react-rnd **version** [7.4.0]

My **browser** is:   Chrome Version 66.0.3359.117 (Official Build) (64-bit)

### Reproduced project

https://codesandbox.io/s/x7v20oxvlq

### Description

When drag element in a zoomed div, the draggable element has an offset while dragging

### Steps to Reproduce

[code]

### Expected behavior

Even if it is child of a scaled e

[2018-04-21 17:41] gabriel-cardoso commented on #197
I have the same issue with the same configuration: left and right resizing and dragging with resize and drag grids.

I set the same configuration from [this example](https://codesandbox.io/s/w2979r05ol).

Could it come from the parent containers CSS attributes ? Or maybe because my component is mapped to Redux ?

[2018-04-21 18:35] gabriel-cardoso commented on #197
I think it comes from the fact that my component is connected to Redux.

I manage to have it working by calling `this.forceUpdate()` on resize.

[2018-04-23 05:58] oldo commented on #197
Hi @gabriel-cardoso

Although my components are also connected to Redux, that didn't help me.

If I change the initial width and position in your code sandbox to I get the same snapping error where resize is snapping to a global grid instead of a grid relative to location of component:

[code]

[2018-04-27 13:35] haakemon opened #307 "resize and drag performance issues in IE11 (throttle)"
### Overview of the problem

See [issue #248 on re-resizable](https://github.com/bokuweb/re-resizable/issues/248) for the same issue on resizing

I might be able to work on this myself, but not right now. I also would like to see if a PR would be accepted for this first.

I'm using **version** 7.4.0

My **browser** is:   Internet Explorer 11

I am sure this issue is **not a duplicate**

### Descri

[2018-05-09 09:02] vincentbollaert opened #316 "Programmatically trigger a drag start?"
I'm using react-rnd **7.4.0**

Does react-rnd support programmatically triggering drag events? It was requested for react-draggable, which this lib uses: https://github.com/mzabriskie/react-draggable/issues/89 but was seen as out-of-scope

[2018-05-09 12:31] vincentbollaert opened #317 "onMouseDown does not work"
Hey
I'm using react-rnd **7.4.0**

onMouseDown is not supported within extendsProps
https://codesandbox.io/s/85wp22jq0

[2018-05-23 07:20] renovate[bot] opened #327 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Preset name not found within published preset config (monorepo:angularcli). Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-05-24 08:21] sahidhossen opened #330 "React-rnd return empty div when I use into react-dnd"
I have use react-rnd into react-dnd component but its not working. Its return a empty div. Can you check this issue please ?

[2018-05-28 19:54] idleberg opened #335 "dragHandleClassName anomalies"
### Overview of the problem

I'm using react-rnd v7.4.0

My **browser** is:   Chrome v66.0.3359.181 (Official Build) (64-bit)

### Description

*I'm not reporting a bug, but some anomalies that I find confusing and *could* (or should) be changed.*

I find the `dragHandleClassName` property a bit confusing. As its name suggests, it expects a class name, so the need to provide a leading dot (e.g. `.

[2018-06-05 23:28] tnrich commented on #209
Any update on this @bokuweb ? It would be great if we could provide programatic bounds. Also having an option to bound using the viewport (as opposed to the <body> element) would be great! Sometimes <body> does not scale to fit content or is larger than the viewport.

Thanks!

[2018-06-05 23:38] bokuweb commented on #209
Sorry...  I have not started yet.

[2018-06-05 23:44] tnrich commented on #209
No problem. I do think a "viewport" or "window" option would be helpful.

[2018-06-05 23:45] bokuweb commented on #209
@tnrich Thanks for your proposal :) I will consider it soon.

[2018-06-07 08:39] gaddafirusli commented on #110
Would love to get this one merged too. Any updates?

[2018-06-07 16:27] jeff-wolff commented on #299
Fixed this with a shim from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from#Polyfill

Performance is still ass in IE11

[2018-06-07 23:11] bokuweb commented on #299
@hanbar @go299 @jeff-wolff I've fixed this issue by this PR https://github.com/bokuweb/re-resizable/pull/283. Could you please try latest version if you get a chance :)

[2018-06-09 18:34] JithinKS97 opened #350 "Is there some way to call the onResize function when the Rnd component loads?"
Need some help...

I need to execute the function passed to the onResize prop everytime the Rnd component loads. Is there any way to do this?

[2018-06-11 22:14] vikttorr commented on #158
+1 for snapping  functionality described above. Would be great!

[2018-06-12 06:40] bokuweb commented on #299
fixed by bokuweb/re-resizable#283

[2018-06-12 06:40] #299 closed

[2018-06-14 03:37] yandanarendra commented on #203
Can you give the demo code link for this
![screenshot](https://user-images.githubusercontent.com/39962905/41390216-4961f4a4-6fb2-11e8-904c-96b7e4e1afc9.JPG)

[2018-06-14 12:40] bokuweb commented on #203
@Hearen @yandanarendra Sorry, I've created codesandbox example.
Would you please see it ??

https://codesandbox.io/s/q9onxj77j6

[2018-06-14 12:40] #203 closed

[2018-06-20 08:09] Stianhn opened #356 "Is it necessary to set the parent elements position?"
https://github.com/bokuweb/react-rnd/blob/9862fdfa63f2adb3f0b54aa88a544ee63af50d8c/src/index.js#L235

Why is this needed?

In general I would say it's bad practice to alter code that you do not control as it could have unwanted side effects and it can be hard to debug.

[2018-06-20 10:04] hbogs commented on #356
Oh man, I was just about to open a ticket for the same issue :)

This also causes a bug, where you cannot access a childs ref in componentDidMount ( and possibly componentDidUpdate, it depends). (Or you can, if you add a setTimeout as a workaround - but I dont like to add a "magic" timeout to fix issues like that).

See this example:
https://codesandbox.io/s/8229q39582

Since you need to edit the

[2018-06-20 11:47] bokuweb commented on #356
@Stianhn @hbogs Thanks for your report. I see...
It might be solved if you wrap `react-rnd` in `div`....???

[code]

[2018-06-20 12:18] hbogs commented on #356
@bokuweb
Yeah, maybe that will work? Have to try it out I guess.

In our use-case we only use `react-rnd` with a fixed position (by setting it in the style prop), so it wouldn't really affect us - other users who are relying on the parent changing to relative might have some issues though?

[2018-06-20 12:29] bokuweb opened #357 "Use TypeScript instead of flowtype"
### Overview of the problem

I'm using react-rnd **version** [x.x.x]

My **browser** is:

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

### Steps to Reproduce

1. First Step
2. Second Step
3. and so on...

### Expected behavior

### Actual behavior

[2018-06-20 12:37] hbogs commented on #356
@bokuweb I think it deserves a `bug` label also, because of the issues with the `ref`'s, dont you agree?

[2018-06-20 12:40] Stianhn commented on #356
@bokuweb Thanks for the quick answer. We also set a fixed position that we pass trough props, so adding the div won't solve our issue.

But why is this function needed at all? I removed setParrentPoisition() and now it works as intended.

[2018-06-20 12:50] bokuweb commented on #356
@Stianhn Hmm, I see. Certainly there is a possibility of unnecessary. Investigate and delete it if we do not need it

[2018-06-20 12:54] hbogs commented on #356
@stianhn it still works for you because you (like us) set position:fixed on `react-rnd`, and because of that, the parents position will not have any effect (it could be whatever) - so in those cases, the modification of the parent position style is unnescessary.

I think by adding this wrapper, then the parent modification should be removed (thats how I understood it, but I might have misunderstoo

[2018-06-20 13:00] bokuweb commented on #356
@Stianhn

Hmm,  If `setParrentPoisition()` removed,  `bound parent` story does not work correctly.
(You can see this story with `npm run storybook` and `open localhost:6016`.)

[2018-06-20 13:02] bokuweb commented on #356
If I change the code like below to avoid `setParrentPoisition()`, `bound multiple` story does not work....

[code]

[2018-06-20 13:48] hbogs commented on #356
Maybe this should be connected with the bounds prop then? So f.ex something like this
[code]

I mean, setting the parent to relative only makes sense if you want to restrict the boundaries - and IMO that should be done explicitly. Currently you get this behavior automatically, even if you dont want it (f.ex if you want to use fixed positioning)

Also I did some testing and doesnt seem like the `if

[2018-06-20 13:59] bokuweb commented on #356
@Stianhn I see. It looks good. Would you please create PR if you get a chance ?

[2018-06-20 17:54] Stianhn commented on #356
How about just documenting that any parent element you want to bound to needs to have ´position´set and rather throw a warning if the element doesn't have this set when you are trying to use bounding?

[2018-06-21 08:12] hbogs commented on #356
I like @Stianhn's proposal to show a warning better than my suggested solution - the only "downside" of that is that its a change in behavior, and probably warrants a major version bump.

Could be something like
[code]

WDYT @bokuweb ?

[2018-06-21 08:19] bokuweb commented on #356
@hbogs Thanks. It looks good. I'll apply this change for now, and so I 'll look for a better way.

[2018-06-22 01:22] bokuweb commented on #356
@Stianhn @hbogs I've just removed `isMounted` and `(!this.state.isMounted) return <div />;` for now. Because it seemed that there was no effect even if it was removed.

This version is published as `v7.4.2`. Would you please check this version, if you get a chance.

@hbogs

I fully agree. But this change occurs critically break, and I would like to prevent users from setting `position` as much as

[2018-06-22 08:27] hbogs commented on #356
@bokuweb Looks like this is breaking with 7.4.2 actually - did something else change also?

https://codesandbox.io/s/91wy1v5r9r

[2018-06-22 08:42] bokuweb commented on #356
😨 sorry... 7.4.2 unpublished.... i'll do investigation....

[2018-06-22 09:41] bokuweb commented on #356
@hbogs I've just published.v7.4.3.
I added `props.children` to dummy `div` for now.
Would you please check that `ref` issue solved if you get a chance.

And I'll consider to `fixed` issue.

@Stianhn  @hbogs  Would you please provide a project which is reproduced `fixed` issue.

[2018-06-22 10:57] hbogs commented on #356
In our project , we dont have any issues with setting `position: fixed` on rnd - it is just unnecessary to modify the parent's position in that case, since it will not make a difference. But I could see there could be cases where you would need the parent to stay `position: static`. In those cases, as a workaround, you could set `position: static !important` on the parent. Not a great workaround t

[2018-06-22 11:10] Stianhn commented on #356
@hbogs Setting position: static !important doesn't help as rnd replaces the style.

@bokuweb Why do you want to limit the users involvement i styling elements? If some code I'm importing to my project has requirements to the surroundings I would expect to find this explained in the documentation rather than the code changing this automagicly.

[2018-06-22 11:48] hbogs commented on #356
@Stianhn yes it will. !important wil override an inline style as well, unless the inline style also uses !important (which it doesnt in this case). Not a pretty workaround, but it will work.

[2018-06-22 12:04] Stianhn commented on #356
`      if (getComputedStyle(parent).position !== 'static') {
        return;
      }
      parent.style.position = 'relative';
`
Doesn't this just replace whatever is there?

[2018-06-22 14:43] bokuweb commented on #356
@Stianhn @hbogs I've just published v8.0.0-beta.0.
I removed `isMounted` state, dummy `<div />` and `setParentPosition()`.
Would you please check this version.

related https://github.com/bokuweb/react-rnd/pull/366

[2018-06-22 15:07] hbogs commented on #356
Im going away for the weekend, but Ill check on tuesday when Im back. Thanks.

[2018-06-23 04:54] salauddinShaikh opened #370 "Is there any way to use onMouseDown event, tried with extendProps but did'nt work"
I need to catch an on select event, tried with onMouseDown did'nt work
extendsProps={{ onMouseDown:()=>this.handleClick(index) }}

[2018-06-23 14:46] bokuweb commented on #357
#374

[2018-06-23 14:46] #357 closed

[2018-06-24 11:39] bokuweb commented on #370
Duplicate #317

[2018-06-24 11:39] #370 closed

[2018-06-24 11:40] bokuweb commented on #199
Please use latest version. Please re-open if you need.

[2018-06-24 11:40] #199 closed

[2018-06-24 11:50] bokuweb commented on #330
@sahidhossen Thanks for your report :) Would you please provide reproduced project in codesandbox ?

[2018-06-24 12:09] bokuweb commented on #316
@vincentbollaert Sorry. Currently impossible and there is no plan for implementation.

[2018-06-24 12:09] #316 closed

[2018-06-24 12:09] bokuweb commented on #350
@JithinKS97 Currently impossible and there is no plan for implementation

[2018-06-24 12:09] #350 closed

[2018-06-24 12:10] bokuweb commented on #221
@NewOldMax Thanks for your report. Would you please provide reproduced project in codesandobox?

[2018-06-24 12:12] bokuweb commented on #303
@begoat Thanks for your report :).

[2018-06-24 12:13] bokuweb commented on #218
@heekyu Thanks for your report. But, I stopped umd support. sorry...

[2018-06-24 12:13] #218 closed

[2018-06-24 12:15] bokuweb commented on #208
@gsharath I removed `z` props in v8. Would you please pass `zIndex` via `style`

[code]

[2018-06-24 12:15] #208 closed

[2018-06-24 12:17] bokuweb commented on #90
Would you please provide reproduced project in codesandbox?

[2018-06-24 12:17] #80 closed

[2018-06-24 13:12] bokuweb commented on #335
@idleberg I see.

Hmm, I started to v8,  so I will change it to `no dot` string at this timing.

#379

[2018-06-24 14:13] bokuweb commented on #209
fix bounds `parent` behaivior in this PR https://github.com/bokuweb/react-rnd/pull/378/files#diff-38682f47b0cf12c516bc3714fc45d0fdR233

[2018-06-24 14:17] bokuweb commented on #209
you can check `window` bounds here http://bokuweb.github.io/react-rnd/stories/?selectedKind=bounds&selectedStory=window%20controlled&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-06-24 14:35] bokuweb commented on #209
@tauren @romanlex @davitv @tnrich I published v8.0.0.
Would you please try `window` bounds.

https://codesandbox.io/s/pmo783mp0j

[2018-06-24 14:36] bokuweb commented on #209
I 'll do an implementation of `programmatic bounds` and do an investigation of `lockAspectRatio` bug.

[2018-06-24 14:36] bokuweb commented on #335
fixed by v8.0.0.

[2018-06-24 14:36] #335 closed

[2018-06-24 14:37] bokuweb commented on #317
@vincentbollaert Fixed by v8.0.0. Please pass `onMouseDown` directly.

[code]

[2018-06-24 14:37] #317 closed

[2018-06-24 14:39] bokuweb commented on #215
Please try this sample.

[code]

[2018-06-24 14:39] #215 closed

[2018-06-24 18:37] NewOldMax commented on #221
@bokuweb  https://codesandbox.io/s/vvw796q5ry
resize rectangle to maxWidth and after that resize window. You can see in console that `maxWidth` property is changed, but rectangle maxWidth is not changed

[2018-06-24 23:53] bokuweb commented on #303
related #110

[2018-06-25 00:09] bokuweb commented on #221
@NewOldMax Thanks for reproduced project :) I've fixed it and published as v8.0.1.
would you please check this version if you get a chance.

http://bokuweb.github.io/react-rnd/stories/?selectedKind=sandbox&selectedStory=body%20size%20apply%20to%20maxwidth&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-06-25 00:09] #221 closed

[2018-06-25 00:55] bokuweb commented on #217
@dr15 Thanks :)

@iamnotstone Please use `cancel` props.

http://bokuweb.github.io/react-rnd/stories/?selectedKind=cancel&selectedStory=cancel&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-06-25 00:55] #217 closed

[2018-06-25 01:00] bokuweb commented on #201
@volkandkaya Would you please try v8.0.1. The below `code` works correctly.

[code]

[2018-06-25 01:03] #201 closed

[2018-06-25 01:05] bokuweb commented on #161
@ThiagoFacchini Could you please provide reproduced project in codesandbox?

https://codesandbox.io/s/y3997qply9

[2018-06-25 06:03] NewOldMax commented on #221
It works, thanks 🍺

[2018-06-26 11:29] #356 closed

[2018-06-26 11:30] Stianhn commented on #356
This fixes my original concern so I'm closing this issue. Thank you @bokuweb

[2018-06-26 22:02] Grsz opened #386 "Prevent component's child from resize and drag actions"
It's possible right now to handle the Rnd component's child, but just the child as an "independent" element? I have a component which is just a box with an X button which closes the box, but if i click on it, the Rnd component handles the click as a drag, which leads to bugs.

[2018-06-26 23:02] bokuweb commented on #386
@Grsz Please try `cancel` props.

http://bokuweb.github.io/react-rnd/stories/?selectedKind=cancel&selectedStory=cancel&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

https://github.com/bokuweb/react-rnd#cancel-string

[2018-06-27 23:38] bokuweb opened #388 "Allow programable bounds property."
Allow programable bounds linke, `bounds={ top: 0, left: 0, right: 100, bottom: 100}`.

### Overview of the problem

I'm using react-rnd **version** [x.x.x]

My **browser** is:

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

### Steps to Reproduce

1. First Step
2. Second Step
3. and so on...

### Expected behavior

### Ac

[2018-06-27 23:41] bokuweb commented on #209
@tauren @romanlex @davitv @tnrich  Hi, this issue solved by v8.0.2. would you please try the latest version?

- [x] fix `window` bounds
- [x] add `body` bounds
- [x] fix boundary when `lockAspectRatio` set.

I'll do programable bounds impletion in the future. https://github.com/bokuweb/react-rnd/issues/388

I close this issue, for now. If you find new problem, please reopen this issue or create ne

[2018-06-27 23:41] #209 closed

[2018-06-27 23:48] bokuweb opened #389 "Use offsetParent"
### Overview of the problem

I'm using react-rnd **version** [x.x.x]

My **browser** is:

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

### Steps to Reproduce

1. First Step
2. Second Step
3. and so on...

### Expected behavior

### Actual behavior

[2018-06-28 20:37] Grsz opened #391 "Prevent scrolling on mobile"
Hello there!

If i use an iPhone, and try to drag, or resize, the device detect the interaction as scrolling. Only does the right job if i select a text inside the component. This happens on iOS Safari, and both on iOS Chrome (if i want to drag the element down, it refreshes the page). One more important thing is that on Android devices everything works fine (that's why i hate iPhone, but it's ano

[2018-06-28 21:49] bokuweb commented on #391
@Grsz Thanks for your report. I'll do some investigation.(But, I don't have iOS device...)

[2018-07-02 23:00] tnrich commented on #209
Seems to work for me @bokuweb

Thanks!!

[2018-07-03 22:49] lumberman opened #394 "Why deprecated updateSize and updatePosition API?"
Hello,
I'm using your library in my plugin and found that you deprecated updateSize and updatePosition API methods. I was searching around but failed to find a reason or explanation on what developer should do.
Can you please explain why did you remove these functions and what alternative do we have?

Thanks for your amazing job done!

[2018-07-05 20:32] wootencl opened #395 "Feature Request: Component follow scroll"
First of all, want to say thanks for the excellent module and all the hard work you've put into it :)

Onto my feature request/enhancement: Would be great if the draggable component would follow along as the page is scrolled. Would be useful in the scenario where you have a parent container that has a height greater than the viewport and you wish to drag the component to an area outside of the cur

[2018-07-11 16:39] eps1lon commented on #307
Could also be a problem of your container that does unnecessary render calls. Have you checked react devtools and confirmed that some nested component in your container is not firing every time you resize?

[2018-07-13 06:36] sudhiryadav opened #398 "Vertical dragging not working. Only horizontal dragging works."
Its a bug

Yes it is a browser bug

### Overview of the problem
`onDragStop={(e, d) => { this.setState({ x: d.x, y: d.y }) }}` the d.y always return 0 so i am only able to drag horizontally keeping the draggable element on top on window bounds being 'window'

I'm using react-rnd **version** "react-rnd": "8.0.1",

My **browser** is:   Chrome Version 67.0.3396.99 (Official Build) (64-bit)

I am sure

[2018-07-16 11:53] bokuweb commented on #394
@lumberman ping

[2018-07-17 12:44] postgetme commented on #158
same problem

[2018-07-23 15:13] piavgh opened #402 "Drag image is lagging"
### Overview of the problem

I'm using react-rnd **version** [8.0.2]

My **browser** is: Google Chrome latest version

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/zr0nyx7qmx

### Description

### Steps to Reproduce

1. Drag the text, it's very smooth
2. Drag the image below, it's kind of lagging and even when I release the left-mouse, the image is

[2018-07-24 03:02] bokuweb commented on #402
@piavgh Thanks for your report.

Please add `draggable={false}` to `img` element.

https://codesandbox.io/s/mj4o972kjj

[2018-07-24 03:02] #402 closed

[2018-07-24 03:13] piavgh commented on #402
Thank you very much

[2018-07-26 09:18] devbazilio opened #403 "Unable to change value in "Input" field inside Rnd"
### Overview of the problem

I'm using
[code]
My **browser** is:  Chrome 67.0.3396.99

### Reproduced project

https://codesandbox.io/s/50xlmvqpwl

### Description

### Steps to Reproduce

1. Open link above in Chrome
2. Try to change a text in input
3. And nothing was changed
4. FF - it's working

### Expected behavior
Content of input should be updated

### Actual behavior
Text of input can not

[2018-07-27 11:51] farfromrefug opened #405 "no default export in es5 distribution"
if you look at the distributed es5 version there is no default export but a ```module.exports = Rnd;```

Consequently you can't do
[code]
But you must do
[code]

As a consequence typings won't work with the es5 release

[2018-07-28 05:41] bokuweb commented on #405
@farfromrefug Thanks for your report :) I fixed this issue. could you please try latest version if you would not mind.

typescript example is here.
https://codesandbox.io/s/j1vvkpo9wv

[2018-07-28 05:41] #405 closed

[2018-07-28 12:33] farfromrefug commented on #405
@bokuweb works fine now just not a "default" export. Might just need to change to doc.

Thanks for that fast fix!

[2018-07-30 13:02] devbazilio commented on #403
I fixed that by adding listener
[code]

[2018-07-31 09:52] devbazilio opened #410 "CSS transform property is ignored in style"
### Overview of the problem

I'm using
[code]
My **browser** is:  Chrome 67.0.3396.99

### Reproduced project
https://codesandbox.io/s/3qyjyy1v3p

### Description

### Steps to Reproduce

Add _transform_ and _opacity_ properties

### Actual behavior

Transform property is ignored
Opacity works.

[2018-07-31 09:54] #410 closed

[2018-07-31 09:54] devbazilio commented on #185
Reproduced project

https://codesandbox.io/s/3qyjyy1v3p

[2018-08-01 01:37] sudhiryadav commented on #398
In my case the issue was that the floating video was part of application header so that was the reason. Sorry that was my mistake it is not a bug.

[2018-08-01 01:37] #398 closed

[2018-08-06 04:38] bokuweb commented on #403
@devbazilio Thanks :)

We can use `cancel` props too.

https://github.com/bokuweb/react-rnd#cancel-string

[2018-08-06 04:38] #403 closed

[2018-08-06 14:55] nigelskeels opened #415 "Add zIndex example to storybook basic/multi"
Is it possible to add an example of how to manage the zIndex of multiple windows. So that the one being dragged is always on to just like the way os windows work.

Thanks

[2018-08-10 22:26] matiasbenedetto opened #419 ""export 'default' (imported as 'Rnd') was not found in 'react-rnd'"
The console is getting me this:
`"export 'default' (imported as 'Rnd') was not found in 'react-rnd'`

And when a i want to render the app with a <Rnd/> i get this error:

`Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's define

[2018-08-23 07:32] Aquarius-Sally opened #421 "transform not work"
### Overview of the problem

I'm using react-rnd **version** [x.x.x]

My **browser** is:

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

### Steps to Reproduce

1. First Step
2. Second Step
3. and so on...

### Expected behavior

### Actual behavior

[2018-08-23 07:34] Aquarius-Sally commented on #410
how does it work?

[2018-08-23 07:37] Aquarius-Sally commented on #421
react-rnd : ^7.4.1,
transform: rotate(30deg)

[2018-08-23 07:47] Aquarius-Sally commented on #185
Any news?

[2018-08-23 07:48] Aquarius-Sally commented on #185
+1

[2018-08-23 23:43] codename11 opened #423 "Height in percentages doesn't allow resizing from the bottom"
### Overview of the problem

I'm using react-rnd **version** [x.x.x]
      Newest
My **browser** is:
  Chrome  68.0.3440.106

### Reproduced project

https://codesandbox.io/s/m5ykmrknp8

### Description

I am sure this issue is **not a duplicate**?
   If i put height in percentages, resizing in x axis from bottom doesn't even budge. If i put height in pixels, then it works.
### Steps to Reproduce

[2018-08-24 03:59] invifire opened #424 "The input inside Rnd wrapper blur after focus?"
### Overview of the problem

Using Rnd wrapper form using antdesign input
After clicking the input, it's get focus and then blur immediately

How to solve this problem?
Procedure: https://codesandbox.io/s/qz60kv9zmj

[2018-08-24 04:38] #424 closed

[2018-08-24 04:38] invifire commented on #424
it relate this, thanks
https://github.com/bokuweb/react-rnd/issues/403

[2018-08-24 08:33] pingbaohua opened #425 "rnd可以嵌套使用吗，"

[2018-08-24 08:35] pingbaohua commented on #425
我现在要实现的是两个嵌套的div,并且都可以实现拖拽放大缩小功能，在拖拽内层div的时候，怎么阻止外层移动呢

[2018-08-24 12:38] bokuweb commented on #425
Please try to use `cancel`.

[2018-08-24 21:37] justswim opened #428 "resizeHandleWrapperClass warning shown in console"
Bug when using the resizeHandleWrapperClass prop. Warning shows in console: `Warning: React does not recognize the `resizeHandleWrapperClass` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `resizehandlewrapperclass` instead. If you accidentally passed it from a parent component, remove it from the DOM element.`

### Overview of

[2018-08-24 21:39] justswim commented on #428
Note, the codesandbox console doesn't seem to show the warning. I'm not sure why. But if you inspect element with the Chrome inspector, the warning will be there.

![screen shot 2018-08-24 at 2 38 37 pm](https://user-images.githubusercontent.com/1372528/44609146-6fb24380-a7ab-11e8-9645-2630a05786e4.png)

[2018-08-24 21:39] justswim commented on #419
You should import it like this:
`import { Rnd } from 'react-rnd';`

[2018-08-25 00:10] bokuweb commented on #428
@justswim Thanks for your report :) I've published v9.0.2 🎉

[2018-08-25 00:10] #428 closed

[2018-08-27 10:44] dholakiyaankit commented on #185
Any updates on this? I need to use transform to provide support for rotate.

[2018-08-27 10:45] dholakiyaankit commented on #421
Yes, its been overwritten by draggable, we need some updates on this.

[2018-08-28 00:11] bokuweb commented on #419
@justswim Thanks!!

[2018-08-28 00:11] #419 closed

[2018-08-28 23:54] justswim opened #434 "Snap to grid but resize / drag freely"
This is a feature request / function. Is it possible to use the resize grid as a snapping guide, but let the user resize the component freely?

E.g. the user should be able to resize the component to any size, but if it is close to the increments defined by the grid, it snaps to the grid. Right now, using `resizeGrid` only lets you resize at the increments of the grid.

[2018-08-29 22:14] justswim commented on #158
Really need this as well. Any update here @bokuweb ?

[2018-08-30 18:24] sampathkatari opened #436 "Unable to Edit <input /> when added inside Rnd"
### Overview of the problem
Unable to edit an input when added into Rnd component.
Using react-rnd version - ^9.0.2

### Reproduced project
https://codesandbox.io/s/y3997qply9

### Steps to Reproduce
1. Open the codesandbox you provided
2. Add an input inside <Rnd></Rnd> and try to edit.
3. We won't be able to edit it.
4. But if we try to click and without releasing the mouse pointer and edit, it

[2018-08-31 01:29] bokuweb commented on #436
@sampathkatari Please see https://github.com/bokuweb/react-rnd/issues/403.

I'll add some example to storybook.

[2018-08-31 12:23] #436 closed, assigned to nobody

[2018-09-01 18:57] tnrich opened #437 "Add a default position x,y of "center""
Hey there,

I want to make a dialog that sizes to the elements within it but am having trouble doing that AND getting the dialog to be centered on the page.

It would be awesome if we could pass a

[code]

That way the dialog could be centered and that expands to fit the elements inside (up to its specified bounds).

Thanks @bokuweb !

[2018-09-03 03:47] pingbaohua commented on #86
您好，我想问一下防止rnd重叠现在有实现吗

[2018-09-03 03:50] pingbaohua opened #438 "怎么将移动后的rnd元素位置保存？急求"

[2018-09-04 09:35] pingbaohua commented on #386
网址打不开了，第一个，已到其他位置了吗

[2018-09-07 22:09] motro commented on #298
@silentarrowz, would you mind sharing your solution please?
Thanks!

[2018-09-09 08:26] silentarrowz commented on #298
my solution was that I put the map image I was using to position absolute and the position of booth to relative. so, booth was moving relative to image and therefore it was always on same position on map no matter how much I moved it or scaled it.

[2018-09-25 19:09] get4prince opened #450 "export 'default' (imported as 'Rnd') was not found in 'react-rnd"
cant even use it

[2018-09-27 10:00] elmbrent opened #451 "Cursor does not update"
I want to be able to disable dragging from a local state object, it works corrected once first loaded but if I toggle disable dragging the cursor still is the same but dragging is disabled.

The cursor should go back to normal after the state has changed to disabled and vice versa.  This works as expected for the enable / disable resizing.

Example here : https://codesandbox.io/s/73n5rmwq51

[code

[2018-09-27 10:34] stevenwhitespacesystems commented on #451
Having the same issue as @elmbrent

[2018-09-27 14:17] ben-shepherd commented on #451
I have a similar problem as well, any help would be great

[2018-09-27 18:14] fairps opened #453 "Bug: When dropping aligned to a grid, it does not drop where it should"
I would consider this a bug.

### Overview of the problem
The dragGrid is honored when dragging the object, but when it is dropped it "jumps" when ending the drag.  You can see it in the example if you release the drag carefully so you don't move when releasing it and you can watch it jump when you let it go.  It is now impossible to drag it back on top of the second item that was never moved, bec

[2018-09-28 07:30] pahen commented on #158
Would love to this working too! :)

[2018-09-28 18:04] justswim commented on #158
For anyone who is stuck on this ... here's a UX work around that worked for me:

Instead of trying to get my layer to snap while dragging, what I did was show snap-to guides whenever the layer was within the snap area. Then, when the drag finished, I updated the position of the layer to the snap guides. So, the layer still doesn't snap while dragging, but it snaps immediately after dragging, and t

[2018-10-02 15:55] chathuraa opened #454 "Bug: Component change the Y position when Drag stops even though dragging is restricted to X axis"
### Overview of the problem
I'm using react-rnd **version** [9.0.2]
My **browser** is:   Chrome Version 69.0.3497.100

I am sure this issue is **not a duplicate**?

### Reproduced project
https://codesandbox.io/s/j1vj3j90ov

### Description
Bug: Component change the Y position when Drag stops even though dragging is restricted to X axis

### Steps to Reproduce
1. Restrict the dragAxis to x
2. Drag

[2018-10-02 16:55] chathuraa commented on #454
I may have fixed the issue, though not sure if this the the best way to do so.
` let draggablePosition;
    if (position) {
      draggablePosition = {
        x: position.x - left,
        y: position.y - top,
      };
      if (dragAxis === "x") {
        draggablePosition = {
          x: position.x - left,
          y: position.y,
        };
      }
      if (dragAxis === "y") {
        dragga

[2018-10-03 02:32] bokuweb commented on #454
@chathuraa Thanks for your report and reproduced project :) I'll do some investigation. Thanks 👍

[2018-10-03 11:30] chathuraa commented on #454
Hey @bokuweb, This is my first Pull request ever... sorry if I haven't done it properly.

[2018-10-05 21:47] chathuraa opened #457 "Bug: on 'partially controlled' component resize doesn't behave as expected"
### Overview of the problem
I'm using react-rnd version [9.0.2]
My browser is: Chrome Version 69.0.3497.100

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/v6kmwnqy65

### Description

Given that a component is partially controlled, ie. position & size gets updated only on the Drag/Resize stop events, resizing the component using left/top handles doe

[2018-10-08 12:57] dholakiyaankit commented on #147
@pionl  Can you please explain how you implemented this with React jsx? I tried but I don't know how to get rotation parameter.

[2018-10-17 09:37] elmbrent commented on #451
Any update?

[2018-10-25 11:19] ForumT commented on #147
Hey i am also struggling to implement this. Can you tell how exactly to use these functions?

[2018-10-25 21:08] SebastianKaczanowski opened #461 "Losing focus when input or textarea is inside of rnd"
### Overview of the problem
It is impossible to use input or textarea inside of Rnd tag because they are losing focus all the time.
I think it is a bug because it was working in version 5.0.3.

I'm using react-rnd **version** [9.0.2]

My **browser** is:  chrome and edge

I am sure this issue is **not a duplicate**?
I'm not sure, some issues are in language which I do not understand.

### Reproduce

[2018-10-28 19:04] pionl commented on #147
This is my latest implementation.

### Improved resizeHandleStyles

[code]

### Render

[code]

[2018-10-30 09:08] ForumT commented on #147
@pionl Thank you so much :)

[2018-11-02 13:09] matiasbenedetto opened #463 "Settings: dragAxis and bounds arec ompletly ignored"
### Overview of the problem

I'm using react-rnd **version** [9.0.1]

My **browser** is:   Chromium version 70.0.3538.77 (Build oficial) Built on Ubuntu , running on Ubuntu 16.04 (64 bits)

### Reproduced project

https://codesandbox.io/s/9y91qkwpqr

### Description

Settings "dragAxis" and "bounds" are completly ignored by react-rnd. I adedd this two setting in the default test project on codesan

[2018-11-02 18:19] chathuraa commented on #461
I am experiencing the same issue :(

[2018-11-02 21:31] chathuraa commented on #461
hi @SebastianKaczanowski ,

I've fixed the issue with making enableUserSelectHack prop to false

thanks,
Chat

[2018-11-02 22:14] bokuweb commented on #461
@SebastianKaczanowski @chathuraa Please see https://github.com/bokuweb/react-rnd/issues/436

[2018-11-02 22:14] #461 closed

[2018-11-04 20:07] cyberwisdom commented on #463
`dragAxis` and `bounds` are not part of the `default` prop.

Try this:
[code]

[2018-11-05 16:11] matiasbenedetto commented on #463
Yes @cyberwisdom. Now is working ok.
Thanks!

[2018-11-05 16:11] #463 closed

[2018-11-15 00:06] travisdahl commented on #110
I was hoping as an escape hatch that this would work, but alas, it does not...

[code]

[2018-11-18 02:00] joel1st commented on #457
Also seeing the same thing.

A temporary workaround is to give the component a `key` that reflects a combination of the width/height/x/y and update the `default` rather than `position` and `size`. This way react will cause a completely new component to be instantiated any time the `key` is changed and you can still control it without encountering this bug.

Quite hacky / probably not very performa

[2018-11-18 22:31] wizebin commented on #457
I think this is the implementer's responsibility. You're specifying a position, you should update the position in the onResize handler.

see: https://codesandbox.io/s/1z7kjjk0pq

[2018-11-20 06:39] wizebin opened #468 "Bug: unnecessary forced reflow"
### Overview of the problem

rnd causes significant lag because of forced layout thrashing due to the use of `getBoundingClientRect` in the `componentDidMount` lifecycle method, and use of [re-resizable library](https://github.com/bokuweb/re-resizable)

I am sure this issue is **not a duplicate**

### Relevant versions

I'm using react-rnd **version** [9.0.3]

My **browser** is: Chrome 70.0.3538.7

[2018-11-20 22:21] #451 closed

[2018-11-23 12:46] kv9991 commented on #110
+1. Still can't solve this problem
But this looks like good escape https://github.com/mzabriskie/react-draggable/pull/217/files

[2018-12-02 08:49] breville commented on #391
Related to this?  https://github.com/facebook/react/issues/6436

[2018-12-05 07:30] z784324922 opened #473 "I want to get the resizeHandle index when calling onResize"
I want to know if the current resizeHandle is top or bottom.

[2018-12-05 19:58] elie222 opened #474 "Bug: unable to resize height when default height is set to a percentage"
### Overview of the problem

I'm using react-rnd **version** [9.0.4]

My **browser** is:   Chrome (Mac)

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

### Steps to Reproduce

1. Drag the bottom side or corner of the box up or down.

### Expected behavior

The height of the box is adjusted.

### Actual behavior

The height of the box stays the same.

[2018-12-06 09:58] kure- commented on #474
Hey, i've just run into your issue to see if there are some deal-breakers when using this library. Anyway, this should work and be solved if you set height to parent container. Right now the container has 0 height. If you set height to e.g. 100vh of the container `<div id="root">`, the percentage should work ;)

[2018-12-06 13:43] bokuweb commented on #474
@kure- Thanks :) @elie222 Please check https://codesandbox.io/s/n42x6krq10

[2018-12-15 16:58] Shyroby opened #477 "Limit min resize to the nested component's size"
I need Help!

How can i limit the min size of the box
compatibly with the size of the nested component?

in this case i have an ant design directory inside my  Rnd

[2018-12-16 08:17] #477 closed

[2018-12-16 15:52] kpettinga commented on #453
Experiencing the same issue. Thanks for posting.

[2018-12-16 16:19] kpettinga commented on #453
My temporary workaround for this issue is to use the `lastX` and `lastY` properties from the `DraggableData` argument passed in the event handler.

example:
[code]

This leads me to believe the issue is isolated to the `onDragStop` callback since the `onDrag` callback seems to respect the given grid.

[2018-12-20 17:00] makis-spy commented on #216
I'm having the same issue as I am adding removing items but the onDrag event iust won't let go

[2018-12-21 13:36] cadrell0 commented on #110
The scale prop has been implemented in react-draggable and re-resizable

https://github.com/bokuweb/re-resizable/pull/388
https://github.com/mzabriskie/react-draggable/pull/352

[2018-12-23 14:55] elie222 opened #479 "Update to react-draggable 3.1.1"
### Overview of the problem

I'm using react-rnd **version** [9.0.4]

My **browser** is:   Chrome 71

I am sure this issue is **not a duplicate**

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

Doesn't work with latest react-draggable 3.1.1 when using Typescript.

### Steps to Reproduce

Install react-rnd and react-draggable 3.1.1 in the same project.

### Expected b

[2018-12-23 14:55] elie222 commented on #479
Will post a PR with a fix shortly.

[2018-12-24 15:35] makis-spy commented on #185
+1

[2019-01-03 13:15] Skandagn opened #480 "When parent size changes, bounds doesnt work"
### When the parent size shrinks, the bounds are not set to the parent. Element goes out of scope,

I'm using react-rnd **9.0.3**

My **browser** is:   Google Chrome

When I resize the parent element which is a td tag the size of the td shrinks. The position of the Rnd Element moves out of the parent. Not sticking with bounds

[2019-01-22 17:18] Sorgrum opened #481 "Use horizontal resize to skew?"
### Overview of the problem

I'm using react-rnd **version** [9.0.4]

My **browser** is: Firefox Developer Edition 65.0b10 (64bit)

I am sure this issue is **not a duplicate**? Yes

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

Is it possible to use the horizontal/vertical size adjustments to skew an image?

Maybe using the CSS skew function on the transform propert

[2019-01-28 14:33] mecawish commented on #110
Hi! Can we update the `react-draggable` dependency to the current version? It seems that the `scale` issue is already addressed there.

[2019-01-30 09:02] #110 closed

[2019-01-30 09:02] #303 closed

[2019-01-30 09:02] #479 closed

[2019-01-30 09:23] bokuweb commented on #479
@elie222 Please try 9.1.1 :)

[2019-01-31 08:37] mecawish commented on #110
Working now. Thank you so much, @bokuweb !

[2019-02-04 17:22] arthurepc opened #489 "Is there any way to set bounds to when some Rnd component reaches another Rnd component borders?"
I have two Rnd components juxtaposed to each other and I want to change one's width when the other is resized, but I don't want to let it overlap completely its neighbour. Is there any way of doing it with bounds props or someone already did it in an easier way?

[2019-02-04 19:06] arthurepc commented on #86
Hello! Did anyone find a way to solve this problem? I'm in need of the exact same thing

[2019-02-06 04:13] mhsdevus commented on #434
I think you could implement your own domain-specific handling using the onResize callback. i.e., Check the edges against the grid and snap if needed.

[2019-02-07 12:05] pebbledesigns commented on #453
Any updates on this issue? I have re-created with a potential workaround by @kpettinga but no luck unfortunately https://codesandbox.io/s/4l310zyzw7

[2019-02-13 09:08] Hello-Tan commented on #185
+1

[2019-02-13 09:12] Hello-Tan commented on #110
expect support rotate

[2019-02-17 13:32] jamespfarrell opened #498 "When using redux, can't short-circuit setState, which creates memory leak"
I believe I have found a bug.

### Overview of the problem
I have a use case where I'm using redux and when I'm calling action from onDragStop. After onDragStop is called Draggable (used by RND) continues and wants to set state. However the component is unmounted due to redux re-render, and I get this error:

    in Draggable (created by Rnd)
    in Rnd (at Notes.js:122)
    in div (created by Con

[2019-02-17 15:12] bokuweb commented on #498
@jamespfarrell 9.1.2 published

[2019-02-17 15:12] #498 closed

[2019-02-18 23:00] jamespfarrell commented on #498
You're welcome, thanks for all your hard work, and super cool library!

[2019-02-21 00:11] pebbledesigns commented on #453
Found a fix for anyone looking. I just commented out //position={{ x: this.state.x, y: this.state.y }}

[2019-02-21 00:27] pebbledesigns opened #501 "Responsive?"
I am using resize and dragGrid and I was wondering if the application can be based on %. For example, the placement of an element using transition?

I want to create a responsive app but using drag drop to build a page with % for placement and width. Is this possible?

[2019-02-21 22:13] techromantic opened #503 "Memory Leak Using React Context"
Help Wanted / Browser Bug
### Overview of the problem

I'm using react-rnd **version** [9.1.2]

My **browser** is: Chromium

### Description
Using a data context within my application, rnd components are re-rendered from this data and can write to state using context methods. The error is within the react-draggable library, for the dragStop callback (the dragItemEnd method below). Within the drogS

[2019-02-22 01:09] bokuweb commented on #503
@techromantic Is this same issue?? https://github.com/bokuweb/react-rnd/issues/498

[2019-02-22 01:30] techromantic commented on #503
I looked at that issue as well. At face value it looks like the exact same error caused by draggable but I'm using the latest version, I thought it would have fixed mine.

[2019-02-22 16:14] techromantic commented on #503
@jamespfarrell - we had a really similar issue - could you help?

[code]

place in draggable where it occurs
draggableCore
[code]
draggable
[code]

[2019-02-22 23:19] techromantic commented on #503
@bokuweb - i apologize, all of my issues were being caused by a key issue. when giving rnd components keys, if using position (y position in my case) as a key, rendering a list of components with a matching y will cause the moved component to lose state and props.

[2019-02-22 23:19] #503 closed

[2019-02-25 09:37] sweet-sugar opened #508 "I need rotate"
I dont't know how to spend rotate prop  to the component?

[2019-02-25 20:39] luanraithz opened #509 "Multiple line bug with content editable"
### Overview of the problem

I'm using react-rnd **version** [^9.1.1]

My **browser** is:   Google chrome 71.0.3578.98 (Official Build) (64-bit)

I am sure this issue is **not a duplicate**?
Didn't see any one that look like this.

### Reproduced project

https://codesandbox.io/s/910k18wz8p

### Description
The following log will apper in the console when I reproduce the steps, and you will see th

[2019-02-25 20:41] luanraithz commented on #509
@bokuweb, sorry for mentioning you, but didn't you see anything like this before?

[2019-02-25 22:23] luanraithz commented on #509
This steps aren't the only way to reproduce it, but they were the ones that I knew for sure.
Have you got any workaround in this situation? I really like your component and change to somebody's else would be really bad for now.

[2019-02-28 22:29] tnrich commented on #437
@bokuweb can you please update to react-draggable 3.2.0 or higher ? That will fix this issue!

Thanks!

[2019-02-28 22:30] tnrich commented on #501
That will happen once this issue is resolved: https://github.com/bokuweb/react-rnd/issues/437

[2019-02-28 22:41] tnrich commented on #437
@bokuweb it looks like there are some failing tests with the latest react-rnd:

https://github.com/bokuweb/react-rnd/pull/510

https://circleci.com/gh/bokuweb/react-rnd/1340?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

I'm not sure why that is. I'll ask @STRML if he knows..?

[2019-03-01 07:01] STRML commented on #437
It appears there was an inadvertent breaking change in 3.2.0.

Prior to 3.2.0, if a defaultPosition were present, it became the `x` and `y` present in the callback on the initial drag and subsequent to that.

In 3.2.0, the `x` and `y` received in the callback is *relative* to the defaultPosition already passed. So if you pass a `defaultPosition of `x: 100, y:100` and initiate `onDragStart`, the ca

[2019-03-01 07:30] #327 closed

[2019-03-01 18:54] tnrich commented on #437
I've added my comments here: https://github.com/mzabriskie/react-draggable/issues/391

[2019-03-08 07:15] max9599 commented on #468
I am developing event planner, where i have a row with draggable / resizable events, I am using Rnd, but I have same issue (profiler shows that it happens on mouseDown / mouseUp events and while resizing). When this issue could be solved?

[2019-03-15 02:37] FEliuyg opened #511 "it cannot run on version is 9.x.x"
this is your [demo](https://codesandbox.io/s/xpm699v4lp) on codesandbox !

when you upgrade version to 9.x.x ,it cannot run!

[2019-03-15 11:22] bokuweb commented on #511
Please see latest sandbox https://codesandbox.io/s/y3997qply9

[2019-03-15 11:22] #511 closed

[2019-03-16 18:27] velkony opened #512 "Resetting position during onDrag"
For example, after dragging an element by a few pixels, the element has a position 80 px and the goal is that the element returns back to position x: 0 and then continues dragging to the final planned position.

[2019-03-25 14:03] rjtwoh01 commented on #395
This would be a great enhancement. Has anyone figured out a work around in the mean time?

[2019-04-01 02:55] VarunRustomji commented on #229
https://github.com/bokuweb/react-rnd/issues/229#issuecomment-375931548

In this solution, when I add `bounds="window"` prop it doesn't seem to work correctly.. Any idea why this could be the case?

[2019-04-03 14:28] rkaliyug commented on #415
I am working with multiple Rnd windows. Current dragged one is not coming on top of others. is there any workaround for this?

[2019-04-09 16:31] luanraithz commented on #509
Sadly no, I tried during some days, as a act to not lose my whole code.
I changed to [InteractJS](http://interactjs.io/) and that worked with perfection, no bugs at all, if you are using this component I recommend you to change it too.
@jorgepcbraz

[2019-04-11 15:08] jorgepcbraz commented on #509
Thank you @luanraithz

[2019-04-19 16:29] queeniema opened #515 "Ability to close component"
### Overview of the problem

I'm using react-rnd **version** 9.1.1

My **browser** is: Google Chrome Version 73.0.3683.103

I am sure this issue is **not a duplicate**? Yes

### Description

Would it be possible to add the ability to close the component with a close button?

[2019-04-23 03:21] youyouliangshao commented on #438
从onDragStop函数里可以取到position参数

[2019-04-26 08:18] soulmatecm commented on #131
i am facing the same problem,i see the release note that extendsProps is removed,how can do this staff now?

[2019-05-04 09:54] LAKnoKAL commented on #468
Same here!

[2019-05-04 18:14] phoenix377 commented on #468
Same here!
When this issue could be solved?

[2019-05-08 19:50] chandlervdw commented on #131
`onClick` happens after `onDragStop`. How do I fire an event before `onDragStop` if `onMouseDown` prevents event propagation?

[2019-05-13 12:24] andrewstanton opened #516 "CSS display affecting Default Position of Rnd Component"
### Overview of the problem

I'm using react-rnd **version** "^9.1.2"

My **browser** is:
Chrome 74.0.3729.131

### Reproduced project
https://codesandbox.io/s/p5l8w06k6m?fontsize=14

### Description

There is an offset to the window when applying an initial css hide to the Rnd component. As demonstrated here, when showing the window, there is a subtle offset. However in my production project ther

[2019-05-16 06:30] xoptimal opened #517 "Move over the parent text color and it turns white"
### Overview of the problem

I'm using react-rnd **version** [9.1.2]

My **browser** is:   google chrome

I am sure this issue is **not a duplicate**?

I haven't found any relevant issue. I think it is a new issue

### Reproduced project

Does not reappear in the example

### Description

### Steps to Reproduce

[code]

### Expected behavior

When I moved the Rnd element, the mouse was still movin

[2019-05-16 17:09] TwoAbove opened #518 "Congratulations on 1000 stars!"
I was reading the docs, and noticed this gem:
![image](https://user-images.githubusercontent.com/9610438/57873281-6fb11280-7816-11e9-8d47-fe0d54dfd761.png)

Congrats!

[2019-05-16 19:23] bokuweb commented on #518
@TwoAbove Thanks :)

[2019-05-16 19:24] #518 closed

[2019-05-17 05:23] tnrich commented on #437
@bokuweb I believe this is now possible thanks to this PR: https://github.com/mzabriskie/react-draggable/pull/393

We can now set a positionOffset using percentages

[code]

[2019-05-17 16:02] tnrich commented on #501
This should now be possible I believe with some help from @bokuweb . We can now set an initial  `positionOffset` in react-draggable based on %

[2019-05-20 01:50] 569202812 commented on #437
Hello, Do you know where I come from

[2019-05-20 01:50] 569202812 commented on #437
板凳宽板凳长

[2019-05-20 03:38] bokuweb commented on #437
@tnrich Is it enough to update to react-draggable3.3?
If you are ok could you please create PR with new storybook story??

[2019-05-20 15:40] tnrich commented on #437
Hi @bokuweb
So I tried updating react-rnd to version 3.3 of react-draggable but it wasn't enough to just do that. I think because react-rnd calculates a position offset from the parent, the initial % translation from the positionOffset prop gets canceled out. You'll need to take a look at the code I think and tinker with it a bit. I tried editing the react-rnd position offset code but was a little

[2019-05-20 16:51] bokuweb commented on #437
@tnrich Thanks for your investigation :) I'll try it later. Unfortunately I can not have enough time  to fix it(I have a lot of tasks 😭 ) Please wait ...

[2019-05-26 12:51] Bouncue commented on #474
@bokuweb please have a look at this https://codesandbox.io/s/icy-dew-pohbz

[2019-05-26 12:57] Bouncue commented on #423
#474

[2019-06-03 23:56] regulyarniy opened #526 "When using onResizeStop left\top changes opposite coordinate"
It's a bug

### Overview of the problem
When using onResizeStop left\top changes opposite coordinate
Demo: https://codesandbox.io/s/nostalgic-tereshkova-lf0cw

I'm using react-rnd 9.1.2

My **browser** is:   Chrome

I am sure this issue is **not a duplicate**?
It's same as https://github.com/bokuweb/react-rnd/issues/215 but it's closed because inactivity/not working demo
Using onResize instead of

[2019-06-04 03:21] bokuweb commented on #526
@regulyarniy Please use `onResize` like following

https://codesandbox.io/s/distracted-haze-5kcyq

If you use `position` and `size` props, you need to manage position yourself when resizing.

[2019-06-05 00:56] bokuweb commented on #526
I'll try improve it when I have time

[2019-06-06 02:33] RyanZhu1024 opened #528 "getOffsetFromParent has an issue with createPortal component"
### Overview of the problem

I'm using react-rnd **version** 9.1.2

My **browser** is:   chrome

I am sure this issue is **not a duplicate**.

I want to render the rnd dialog on the root of the dom so we create a component like this using createPortal:
[code]
### Steps to Reproduce

1. Rnd is used as a child component under `OnBody`
2. give the right position
[code]
3. open the dialog and the posi

[2019-06-06 11:15] LukeClone commented on #515
You can handle this easily with react

[code]

[2019-06-06 21:15] regulyarniy commented on #526
@bokuweb Thank you! Maybe I could help with it and prepare a PR? Should I look at **bokuweb/re-resizable**?

[2019-06-09 05:49] bokuweb commented on #468
@wizebin @max9599 @LAKnoKAL @phoenix377 Sorry for late. I'll upgrade `re-resizable` Please try v9.2.0.

[2019-06-10 22:42] mackosx opened #532 "Set resize component"
### Overview of the problem

I'm using react-rnd **9.1.2**

My **browser** is:   Google Chrome Version 74.0.3729.169

I am sure this issue is **not a duplicate**.

### Description

This is a feature request for being able to set the resize handle component, either in the same way as setting the drag component (by passing `Rnd` the classname as a prop), or by passing a component as a prop. Passing

[2019-06-11 12:05] bokuweb commented on #468
Closed for now. If you have some issue, please reopen it or create new one.

[2019-06-11 12:05] #468 closed

[2019-06-11 12:08] bokuweb commented on #526
@regulyarniy

No, we should update `react-rnd`.

I'm happy. However I think it is a bit complex... 😭
I'll fix it later when I have time. But I'm busy now....

[2019-06-11 12:09] bokuweb commented on #515
@LukeClone Thanks :)

[2019-06-11 12:09] #515 closed

[2019-06-29 13:19] Leslie2014 commented on #526
Is now the problem solved?

[2019-07-03 07:28] #526 closed

[2019-07-03 15:15] bokuweb commented on #526
@regulyarniy @Leslie2014  This issue was fixed by v10.0.0

[2019-07-04 09:05] KMouratidis opened #550 "Rnd can be smaller than children divs"
### Overview of the problem

I'm using react-rnd **version** [8.0.1] (npm version from July 3rd)

My **browser** is:
   Chromium
Version 75.0.3770.90 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)

I am sure this issue is **not a duplicate**?
I did take a look at open issues, and used the search functionality, so mostly sure.

### Reproduced project

https://codesandbox.io/s/k

[2019-07-08 12:26] GriboryBogush opened #553 "Make resize divs propagate the event to onMouseDown."
I'm using react rnd 9.2.0.
I'd like onMouseDown event to be triggered by clicking not only inside the rnd box, but also on the resize divs. I imagine that the way you do it is by stoping event propagation on resize div click but could there an option to turn that off possibly as a flag?
Or would this break too much?

[2019-07-08 12:52] GriboryBogush commented on #553
I got that you have both resizable and draggable in different components so this might not be so simple....

[2019-07-08 12:58] GriboryBogush commented on #553
Okay. I got it. I had to use on resizeStart too, to cover all cases.
[code]

[2019-07-08 12:58] #553 closed

[2019-07-09 10:36] flashtheman commented on #453
Facing the issue as well. x and y returned from onDragStop is not what it should be according to the snapGrid array setting.

[2019-07-10 08:56] ifier opened #557 "Bug: tricky "custom" max width in OnResize event"
### Overview of the problem
I'm using react-rnd **version** [10.0.0]
My **browser** is:   Chrome Version 75.0.3770.100
I am sure this issue is **not a duplicate**

### Reproduced project
https://codesandbox.io/s/beautiful-firefly-d4u4l

### Description
I've set maxWidth to (for example) 400px and making setState({ blockWidth: width > maxWidth ? maxWidth : width }) inside onResize event. But, when

[2019-07-10 14:36] flashtheman commented on #453
Just checked the issue seems to be in the source library (react-draggable). I created an issue for this: https://github.com/mzabriskie/react-draggable/issues/413

[2019-07-19 05:55] ifier opened #565 "BUG: Old position when onResizeStop is called"
# Overview of the problem
I'm using react-rnd **version** [10.0.0]
My **browser** is:   Google Chrome Version 75.0.3770.142 (Official Build) (64-bit)
I am sure this issue is **not a duplicate**

### Reproduced project
https://codesandbox.io/s/sparkling-platform-v52np

### Description
I have enabled resizing by right and left sides.
I've dragged block along x axis to 50 ({ x: 50, y: 0 }). Then clic

[2019-08-18 11:13] Kachilero opened #578 "Update Documentation to reflect that 'x' and 'y' can't be strings when using Typescript"
### Overview of the problem
Documentation states that `x` and `y` can be strings, but are typed as only number.

I'm using react-rnd **version** [10.0.0]

My **browser** is:   Electron

I am sure this issue is **not a duplicate**? Yes

### Description

ReadMe clearly states that `x` and `y` properties can be numbers or strings:
[code]
However, these are typed as `number` in `react-rnd/lib/index.d.

[2019-08-20 08:26] vlukyanoff opened #579 "Strange behavior of lockAspectRatioExtraHeight prop"
### Overview of the problem

I'm using react-rnd **version** [10.0.0]

My **browser** is:  Google Chrome Version 76.0.3809.100 (Official Build) (64-bit)

I am sure this issue is **not a duplicate**

### Reproduced project

https://codesandbox.io/s/sparkling-dawn-wfxfg

### Description

When I add lockAspectRatioExtraHeight prop and try to resize, size and ratio of block changed. Look at the gif:

[2019-08-25 10:08] AlcuinGuest commented on #461
@chathuraa 's answer allows you to drag the input as well as edit the text, while the other solutions seem to block one or the other 👌🏽

[2019-08-25 21:30] pixelass opened #581 "scale causes position issue (controlled)"
### Overview of the problem

I'm using react-rnd **version** [10.0.0]

My **browser** is:  Chrome

I am sure this issue is **not a duplicate**?

YES.

### Reproduced project

https://codesandbox.io/s/wonderful-sara-ntpno

### Description

When changing the scale the position of the Rnd elements is incorrect. (a simple zoom-in, then zoom-out demonstrates this very nicely)

### Steps to Reproduce

1

[2019-08-27 11:23] Feralamillo opened #582 "Stop drag when reaching a condition"
### Overview of the problem

The drag callback is not stopping when meeting conditions. For example, when setting the drag to stop reaching a certain X or Y position, the drag is not stopping, it continues.

I'm using react-rnd **version** 10.0.0
My **browser** is: Chrome
I am sure this issue is **not a duplicate**? Yes

### Reproduced project

Here there is a demo where it can be seen.
https://co

[2019-08-28 09:17] pixelass opened #583 "Allow pressing ALT key to resize in opposite directions"
Feature request

### Overview of the problem

I'm using react-rnd **version** [10.0.0]

### Description

I would like to be able to scale an element in opposite directions at the same time.

I should be able to resize left and right, top and bottom or all four sides at the same time if the ALT key is pressed.

### Expected behavior

1. Press ALT key
2. Resize left or right
3. Element resizes to le

[2019-08-29 15:19] galdo666 commented on #453
For now, as a workaround, I use the coordinates of the target element:

[code]

[2019-08-29 23:13] willadamskeane commented on #565
Having this issue as well.

[2019-09-02 09:36] LisaKr commented on #185
+1

[2019-09-04 08:26] CGGoodNight opened #586 "How to center Rnd components relative to browsers"
I want to implement a draggable login box. I want to center it, but there is no good way. Can you help me?

[2019-09-10 01:03] jiseopX opened #588 "How to get current position and size?"
I want to get current position and size of rnd element because I am making painting tool and i want to resize component according to canvas size dynamically how can i do it?

[2019-09-10 02:46] jiseopX commented on #588
i resolved it :)
'''ref.resizable.state.state.width'''

[2019-09-10 02:46] #588 closed

[2019-09-11 09:20] vlukyanoff commented on #579
I found my mistake.
lockAspectRatio prop should be a number, for example:
https://codesandbox.io/s/little-https-w2zq7

[2019-09-11 09:20] #579 closed

[2019-09-11 10:00] naxiaoguang opened #589 "Do you want to do a rotation? we need it ."
Do you want to do a rotation? we like it and need it .

[2019-09-11 10:44] pixelass opened #590 "maintenance status?"
I was wondering if this repository is still actively maintained.

Since it seems pretty stale (considering new features) I went ahead and wrote a small library to handle several features one would expect from a library like this.

In general I'd be open to contributing before I publish yet another package on npm.

My implementation handles the following cases: (currently only for OS X)

* rotation

[2019-09-11 10:45] pixelass commented on #589
Please see: #590

[2019-09-11 10:45] pixelass commented on #583
Please see: #590

[2019-09-11 10:47] pixelass commented on #508
Please see: #590

[2019-09-11 10:48] pixelass commented on #434
Please see: #590

[2019-09-11 10:48] pixelass commented on #75
Please see: #590

[2019-09-11 12:44] volkandkaya commented on #590
Looks great. Hopefully can be added here.

[2019-09-11 13:28] pixelass commented on #590
It would be a complete rewrite though.
It is a standalone component (no underlying resize & drag libraries)
I am using react-hooks and styled-components and currently looking into removing styled-components.

I'll push it to a remote git repo once done. I guess this will help you decide how well it fits here.

[2019-09-11 13:30] pixelass commented on #489
Please see: #590

[2019-09-14 16:41] #532 closed

[2019-09-17 13:04] llamamoray opened #592 "Scoped Document (handle pop out window with `ReactDOM.createPortal`)"
Feature

### Overview of the problem

I'm using react-rnd 10.0.0

My **browser** is:   Chrome

I am sure this issue is **not a duplicate**? Yes

### Reproduced project
https://codesandbox.io/embed/nostalgic-chaum-se04o

### Description

This is a bit of an edge case, but I'm using react-rnd inside a react portal which has been opened in a new window.

The issue I have is that react-rnd uses `bound

[2019-09-19 14:27] pixelass commented on #590
In case anybody is interested in my library:

Source: https://github.com/dekk-app/react-mops
Demo: https://react-mops.netlify.com/

![mops_combined](https://user-images.githubusercontent.com/1148334/65252974-25a8a800-dafa-11e9-9917-3ac90e256264.gif)

*It hasn't been released yet since I want to get rid of the dependency to styled-components first and rethink the snapping logic*

[2019-09-19 19:23] ozguncagri opened #595 "enhancement: passing reference instead of class name"
Passing reference for `dragHandleClassName` or `bound` props (or any props that is suits to this) could be great. I'm developing my app using styled components so I don't want to set any classes hard coded on my project. If anyone has same issue; this enhancement could be great for them.

[2019-09-20 15:18] derblitz commented on #550
Is there a possibility to solve this?

[2019-09-21 19:08] eddyw commented on #550
Hey, it's fairly easy to do. There are severals ways of doing it, first get the ref of the element, then you can use `getComputedStyles` or just `clientWidth/clientHeight` (but this doesn't take into account margins). I did this quick (updated dependencies):

https://codesandbox.io/s/flamboyant-meitner-mfynq

You can drap/resize both and minWidth/minHeight gets updated according to elements' compu

[2019-09-21 19:43] eddyw commented on #586
It's not very complicated to implement. Basically, you need to get width / 2 of parent element (or window) and width / 2 of your expected-to-be centered element:

https://codesandbox.io/s/agitated-fast-skn58

In the sandbox, it's bound to a parent element. If you bound to window, use `window.innerWidth` instead and divide by 2. Furthermore, if you want it to auto-center if window resizes, add with

[2019-09-21 20:15] eddyw commented on #582
I'm not sure if that's easy to implement. As a workaround, maybe this works:
[code]
Then, on `handleStopDrag` set `disableDragging: false`.

Stopping a user event programmatically is a bit difficult sometimes :P

[2019-09-23 03:43] zhangwei900808 opened #596 "it's not support dynamic scale?"
when I set dynamic scale and drag the component the other component also moved a bit How can I solve it?
![image](https://user-images.githubusercontent.com/4385154/65400876-5426cb80-ddf7-11e9-923b-0c83c66da06d.png)

[2019-09-23 03:51] zhangwei900808 commented on #581
same problem

[2019-09-23 07:46] pixelass commented on #581
@zhangwei900808
I am currently working on a new library that attempts to tackle a lot of open issues from this project.

Project:
https://github.com/dekk-app/react-mops/tree/master/packages/react-mops

Current testing sandbox:
https://codesandbox.io/s/react-mops-4cwhx

![mops_scale](https://user-images.githubusercontent.com/1148334/65408973-e7a3d080-dde6-11e9-9278-49d12fa9b667.gif)

[2019-09-24 23:18] Nickersona commented on #565
Hmm so I'm experiencing this as well. Haven't tested out any code yet, did a quick look in the code base to figure out  what might cause this.

Looks like: `onResizeStop` passes in the position from an instance prop `this. resizingPosition` which is only set in the `onResize` function but nowhere in the `onResizeStart`  function. So my thinking of why this isn't defined in the case of a single cli

[2019-09-26 10:13] KMouratidis commented on #550
Much better than my attempt to resize the smallest of the two (parent/children) to match the bigger. Thanks for the solution! I'm closing this.

[2019-09-26 10:13] #550 closed

[2019-10-01 09:18] supertote opened #598 "Lag on drag / resize start"
### Overview of the problem

I'm using react-rnd **version** [9.1.1]

My **browser** is:   Chrome 75

I am sure this issue is **not a duplicate**? Yes, I have checked all open issues and not found anything

### Reproduced project
None, the HMI is too complex

### Description

We have a fairly complex in which we are using draggable/resizable dialog boxes based on React-rnd. The problem is that whe

[2019-10-01 13:14] eddyw commented on #598
I use `getComputedStyle` and calculate the width/height regardless of position. Maybe this will help: https://codesandbox.io/s/recursing-paper-b3461
It's an answer I gave to a different question, I just added `position: absolute` to both parent and children. It gets width/height in `getBounds` from CSSStyleDeclaration object that you get with `getComputedStyle` (available even on IE9)

[2019-10-01 13:19] eddyw commented on #598
Changing position (left/top) of `absolute` elements is already an expensive task for the browser, so the above idea is to use the already computed styles instead of ugly "hack" 🙈 . I hope that helps :)

[2019-10-03 03:16] supertote commented on #598
Thanks for your answer but I am not sure I fully understand what you are suggesting.
Do you suggest to replace the code in re-resizable library size getter by getComputedStyle/getBounds as in your code ?
I did try in my local copy of re-resizable and it works, as does just doing getBoundingClientRect, but since it within re-resizable I was more reporting the problem so that it gets fixed in the li

[2019-10-07 23:41] oliv9286 opened #599 "setting position to NaN crashes RnD component"
### Overview of the problem

I'm using react-rnd **version** [10.1.0]

My **browser** is:   Chrome 77.0

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/busy-ganguly-fjnkv

### Description

### Steps to Reproduce

1. use the "Set NaN" button to set RnD position (either x or y) to NaN
2. Try dragging the RnD div, it will not move because position is no

[2019-10-19 23:57] gustavopch commented on #526
@bokuweb There's still a bug when you use `bounds="parent"` with `onResizeStop`.

## Reproduction steps
- Open my sandbox: https://codesandbox.io/s/nice-http-u5iho?fontsize=14
- Drag the top-left handle up or down
- See how the box jumps

[2019-11-01 09:05] jackhts4 opened #602 "How can I style the drag and resize"
I would like to let it drag without the 'move' mouse cursor,
And would like to let it only to resize in the bottom right corner, while it cannot be resized in other direction

[2019-11-06 17:22] Konstantinov-Innokentii opened #603 "Drag lag after updating Chrome on MacOS"
**Is it a bug/feature/question or do you need help?**  bug/help
**If it's a bug, is it a browser bug?** Not sure

### Overview of the problem

I'm using react-rnd **10.1.0**

My **browser** is:   Chrome 78

I am sure this issue is **not a duplicate**? Yes

### Description

After updating Chrome to 78 I noticed, that content inside rnd-component "freeze" after drag. (Image bellow). I faced this iss

[2019-11-08 15:14] dq495604146 opened #604 "RND inside with echarts drag there is a ton, drag end echart and RND dom elements appear separation"
rnd 里面用 echarts 拖动有卡顿，拖动结束echart和rnd的dom元素出现了分离，普通的div元素拖拽缩放没有问题,我该怎么样修改

[2019-11-08 15:15] dq495604146 commented on #604
RND with echarts drag there is a ton, drag the end of echart and RND dom elements appear separated, the ordinary div element drag and zoom is no problem, how should I modify

[2019-11-08 19:43] misshu1 opened #605 "Rem units support"
Hello, I have a few suggestions to improve :)

How to pass the width and height of my component as "rem" units and not pixels?
On mobile, I want to remove the default width and set it to 100% or full width of the screen.

[2019-11-11 15:02] ignapas commented on #603
I believe this is some problem with ``overflow: auto``, overflowing content, scroll bars... I also encountered and I am trying to solve it. It might be related to Chrome and not the library...

[2019-11-13 09:24] nhungnguyen3011 opened #606 "Chrome: rnd combine with animation: can't render correctly view when dragging"
This is a bug and just happen on Chrome (78.0.3904.97 - lastest version for now)

### Overview of the problem

I'm using react-rnd **9.1.2**, but this bug also occurs when using 10.1.1.

I am sure this issue is not a duplicate. Tried to find a similar issue but there's nothing relevant.

### Reproduced project
Using <Rnd/> with children is an animated component, the drag/drop behavior isn't work p

[2019-11-16 16:18] yuriy-klerk commented on #603
Yes, many thanks. I applied `overflow` property value as `auto` in the bounds container and then dragging functionality are works correctly.

[2019-11-18 07:01] nhungnguyen3011 opened #607 "HTML validation: Element “div” not allowed as child of element “span”"
Since the HTML syntax is violated, this should be a bug.

### Overview of the problem

I'm using react-rnd **9.1.2**, but this still happens with lastest (10.1.1) version on every browser.

This issue is **not a duplicate**.

### Reproduced project

There're some **div** tags that are rendered inside **span** tag.
A **block-level element** shouldn't place inside an **inline element**.

This bug is

[2019-11-18 07:53] kele5240 commented on #185
+1

[2019-11-18 08:00] kele5240 commented on #110
i can't use rotate when i use Rnd

[2019-11-18 08:25] kele5240 opened #608 "can't use rotate in Rnd"
i want use rotate in Rnd, but it will be rewrite by translate.
when i use transform other parameter, only translate left.

for example, i want transform: translate(100px, 100px) rotate(15deg);  in Rnd is  transform: translate(100px, 100px); rotate has been lost

[2019-11-18 13:42] pixeliner opened #609 "pointerEvents being triggered when dragging over iframe"
Well it seems none of the draggable react components out there actually take PointerEvents into account. Same as for this component.

So when you include iframes in your view, whether it be in the Rnd component or outside, the moment you drag/resize over an iframe and your mouse pointer is close to the edge, all interactions are lost and you focus the iframe again.

example (drag light gray area o

[2019-11-19 07:55] ws-zykina commented on #453
I had the same problem

It was necessary to move and resize the element

Using this combination of properties and methods, the necessary behavior was achieved
[code]
`  handleDragStop = (e, d) => {
    this.setState({ x: d.lastX ,y: d.lastY });
  };`

[2019-11-20 09:57] pixeliner commented on #609
Well I eventually fixed it like so:

[code]

Not a super "clean" solution, but simple. If anyone has some other idea, do share :)

[2019-11-20 09:57] #609 closed

[2019-11-21 08:08] flerko opened #610 "collect data question"
### How I can collect data from bars under the selected area?

I'm using react-rnd **version** ^10.1.1

### Link to image
https://ibb.co/0Jd1mxG

### Description

Any ideas how I can collect data under the selected area?

[2019-11-21 13:29] mattleonowicz commented on #468
This is still the case unfortunately. @wizebin @max9599 @LAKnoKAL @phoenix377 have you found a way to overcome that somehow? I'm using `react-rnd` together with `react-virtualized`, and that reflow on the start is too expensive for `react-virtualized` to make sense.

[2019-11-22 20:45] VictorNovice commented on #603
@yuriy-klerk Could you please describe your solution in more detail?

[2019-11-23 14:43] Konstantinov-Innokentii commented on #603
My solution was:
`.react-draggable{
    overflow: auto;
}`

[2019-11-25 04:01] #610 closed

[2019-11-25 23:04] joealden commented on #606
This is also happening for our team in Chrome `78.0.3904.97`, but I have noticed this before in previous chrome versions, so I'm not sure it is specific to this exact version.

In my case, when displaying a spinner animated using CSS (shown in the below screenshot, it just rotates infinitely), if the user moves the draggable container, only some of the contents of the draggable seems to repaint co

[2019-11-26 07:57] IdanGoor commented on #603
I'm also dealing with this issue. @Konstantinov-Innokentii your solution indeed works (also when you set overflow:hidden), but unfortunately for me it conflicts with the design of the handles. Can you recall on which version of Chrome it worked fine for you?

[2019-11-27 01:10] bokuweb commented on #606
@joealden Thanks :+1: But I can not have  enough time to do investigation now.. Please wait...

[2019-11-29 09:35] ilovedesert001 commented on #415
A feasible simple way

in your component

define manager

[code]

then use this in onDragStart event
[code]

[2019-11-29 09:35] ilovedesert001 commented on #415
@rkaliyug

[2019-11-29 10:39] rkaliyug commented on #415
Thanks ilovedesert001. I will check this one

[2019-12-01 15:59] ruben00001 opened #611 "Percentages for positions"
I'm using react-rnd  **10.1.1**.

My **browser** is: Chrome.

I'd like to be able to put in a percentage value for **position** as you can with CSS.

I don't think this is possible? If not, I guess this is an enhancement request!

[2019-12-01 17:54] Konstantinov-Innokentii commented on #603
@IdanGoor on 78.0.3904.108, macOS

[2019-12-03 01:53] niculistana opened #612 "disableDragging=true should allow scroll"
### Overview of the problem
I'm using react-rnd **7.3.0**  and testing this component using an android emulator with Chrome. It looks like having the `disableDragging=false` as a prop does not allow scrolling the component even though it disables dragging.

This problem is only apparent in android devices, as IOS works well.

### Reproduced project
https://gvlp5.csb.app/

### Steps to Reproduce

1

[2019-12-03 01:54] niculistana commented on #612
Disabling touch events using CSS for the component would fix this, although I'd want to avoid that as I'd want to make the component clickable/etc.

[2019-12-04 02:35] niculistana commented on #612
Once this `react-draggable` [PR](https://github.com/mzabriskie/react-draggable/pull/412) is merged, it can fix a related issue which causes the document to scroll upon dragging when `touchmove` event is fired during `onDragStart`.

[2019-12-05 20:00] yuriy-klerk commented on #603
@VictorNovice
 ` <Rnd style={{
                                            "position": "relative",
                                            "zIndex": 1,
                                            "cursor": "move",
                                            **"overflow": "hidden"**
                                        }}

Try this solution.

[2019-12-05 20:07] yuriy-klerk commented on #603
Also you can check drag and drop functionality based on React-Rnd in my project:
https://callaba.io/
Try create room and try to drag some partipiants

[2019-12-06 18:12] niculistana commented on #612
Closing this issue, found a resolution by wrapping the parent component with `touch-action: auto !important;`. See: https://github.com/mzabriskie/react-draggable/issues/227

[2019-12-06 18:12] #612 closed

[2019-12-07 21:39] ruben00001 commented on #611
It seems to be possible. Not sure how I missed this. Apologies.

[2019-12-08 23:31] Camelot93 opened #616 "positional value of array element changing after deleting"
Hey I have an issue, when i delete an element in an array with Rnd as a parent all elements that are ahead of the deleted one move to the position of the element before them. how do I change that?

[2019-12-09 16:30] krustina opened #617 "Rnd item not draggable when assigning a random position"
### Overview of the problem

I'm using react-rnd **version** ^10.1.1

My **browser** is:   Chrome v 78.0.3904.108

### Reproduced project
[code]

### Description

I am assigning a random position to a mapped array of elements into Rnd boxes. When using defaul={x:, y;}, each element is rendered in the same position (one of top of another). The work-around for this was to use position={x:, y:}, but

[2019-12-11 03:08] kele5240 opened #618 "position Is wrong when onResize"
![1](https://user-images.githubusercontent.com/344451/70587906-343cc200-1c06-11ea-81c7-b12869fe0f17.gif)

move box  ->  resize it  ->  move it  -> click one corner of this box

just like the gif.

[2019-12-12 01:28] bokuweb commented on #618
fxied by #619

[2019-12-12 01:31] bokuweb commented on #618
@kele5240 Thanks for your report!! This issue is fixed by v10.1.3. Please try latest version.

[2019-12-12 01:31] #618 closed

[2019-12-15 05:17] gavinpark commented on #204
Is it possible to use this method but use a custom .png as the cursor?

[2019-12-15 23:55] LocalAnastasia commented on #480
![Screenshot 2019-12-15 at 6 51 42 PM](https://user-images.githubusercontent.com/56423202/70871320-2a032680-1f6c-11ea-9ea7-ded5c77ec7de.png)
The doc says that the Rnd component has it's bounds applied to the nearest parent element which has position: relative or position: absolute. So you could try setting the td element's position attribute in CSS to relative or absolute?

[2019-12-19 12:37] halberio opened #621 "Handling react-rnd on mobile"
Thank you for this amazing tool,
But how can we handle the resize on mobile?
It's a UX problem i think!
Thank you in advance.

[2019-12-20 10:24] turshija opened #622 "[BUG] Box moves when resizing it"
### Overview of the problem

I'm using react-rnd **version** [10.1.3]
**(I've noticed that issue doesn't exist in 10.0.0 and starts happening in 10.1.0)**

My **browser** is:
Chrome (79.0.3945.88) on macOS 10.14.6
Firefox (71.0)
Safari (13.0.4)

I am sure this issue is **not a duplicate**.
Similar issue was fixed recently in #618, maybe its related, but its still reproducible in 10.1.3
Also, this

[2019-12-26 03:50] rullymartanto commented on #421
any update on this ?

[2020-01-07 05:21] harit2101 commented on #611
@ruben00001  is your issue fixed ?

[2020-01-07 18:23] ruben00001 commented on #611
@harit2101 it's not a big issue for me as I can just convert between px and %. But it seems like a feature that should be a part of react-rnd.

[2020-01-08 13:12] yakupteke commented on #622
If you delete `bounds` prop, it works correctly !

[2020-01-08 20:30] turshija commented on #622
Yes it does, but its not the solution the problem because I need bounds prop.

[2020-01-12 17:03] #622 closed

[2020-01-12 17:07] bokuweb commented on #622
@turshija @yakupteke Thanks for your report. This issue has fixed. Please try latest version.

[2020-01-16 03:35] nanda248 opened #633 "How to set maxWidth and maxHeight dynamically depending on resize direction"
I'm using react-rnd.

I am developing a dashboard layout using react-rnd. I've specified grid size and it's working perfectly for resize and drag. If the grid is somewhere in the middle, i want different maxWidth and maxHeight depending on which direction I'm resizing, because of the size limit of the dashboard.

How can I achieve this using react-rnd features? I tried changing maxWidth using reac

[2020-01-17 09:19] upadsha opened #636 "Color rendered is not correct on video streaming, totaly diff"
On connecting to camera, with live streaming, camera frames rendered on the panel (rnd) looks different from original colors.  A still / static image of type jpg, PNG etc looks perfect, but only on live video streaming the issue occurs.

[2020-01-20 10:05] fbwBaby opened #638 "Please support rotation"
Please support rotation,Thanks!

[2020-01-28 21:41] atomicpages opened #641 "react-draggable not bundling with rollup"
#Overview of the problem

Rollup doesn't seem to want to bundle `react-draggable` from `react-rnd`. I can repro consistently using `rollup-plugin-commonjs` and `rollup-plugin-node-resolve`.

[A full repro can be found here](https://gist.github.com/atomicpages/390f1f2c917a1248c10a945764345919).

A typical UMD build will contain the following:

[code]

If the import is changed back to an ESM import

[2020-01-29 03:02] #641 closed

[2020-01-29 18:42] ImVexed commented on #468
Also experiencing this issue and is a show stopper for us. Ended up causing us to miss our deployment window due to it having such an impact on low-spec machines. rip weekend :(

[2020-02-06 10:12] Raksha2606 opened #645 "updateSize working for only one panel"
The updateSize function that i used to reset the size of the panel back to its original dimensions is working for only one panel, if i connect multiple pnales and try to reset the size  its not working for the second panel.

[2020-02-07 10:55] cnrudd commented on #177
Duplicate of which issue?

[2020-02-12 21:34] elimist3 opened #647 "Bug: onMouseUp callback doesn't get called"
### Overview of the problem
onMouseDown callback doesn't get called after clicking an Rnd component

I'm using react-rnd **version** [10.1.6]

My **browser** is:   Version 79.0.3945.130 (Official Build) (64-bit)

I am sure this issue is **not a duplicate**?
yes

### Reproduced project

https://codesandbox.io/s/mutable-https-e826i

### Description

onMouseUp callback doesn't get invoked

### Steps

[2020-02-20 02:11] mortillan commented on #621
@halberio I just tested their demo https://codesandbox.io/s/xpm699v4lp in Samsung A50 and it's seems to be working fine. It's just that the viewport is small and resizing it to bigger that the viewport will not be possible. What I have in mind is making sure that you don't go out of bound of the viewport (though have not tried to implement this).

I'm interested in your use case as we are planning

[2020-02-20 07:15] changzhn opened #650 "I need help: why 'dragAxis' didn't work?"
I just want the element move on the x-axis; And I set the `{dragAxis: 'x'}`, but element can move on the y-axis;
All configuration information is as follows：
[code]

### Overview of the problem

I'm using react-rnd **version** [x.x.x]
      "react-rnd": "10.1.3"
My **browser** is:
   "chrome": "80.0.3987.116"
I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox

[2020-02-20 14:59] whoisflo opened #651 "Positions in percentages"
Hello!

I have a question regarding the positioning. Is there any way to position the elements in % instead of px?

I am asking, because i want to scale the element relativ to the parent container.

Greetings
Flo

[2020-02-21 03:29] vankid88 opened #654 "Question: How can controll elements not overlaps?"
### Overview of the problem

I'm using react-rnd **version** [x.x.x]

My **browser** is:

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

### Steps to Reproduce

1. First Step
2. Second Step
3. and so on...

### Expected behavior

### Actual behavior

[2020-02-21 23:46] adanielyan commented on #608
I am having the same issue. I couldn't find where in the source code the transform is applied.

[2020-02-22 00:16] adanielyan commented on #608
OK, it turns out the translate transform is set in react-draggable.

[2020-02-24 12:14] cdes commented on #528
I've worked around this issue by not using `defaultPosition` and `position` and using `updatePosition`

[2020-02-25 12:45] FEliuyg opened #655 "updateOffsetParent method return left and top is error"
### Overview of the problem

I'm using react-rnd **version** [10.1.6]

My **browser** is:   chrome

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/keen-bas-zqtoh

### Description

### Steps to Reproduce

- 1.add parent's parent's style with transform:scale(0.5)
- 2.the rnd component show error position

### Expected behavior

show exact position

[2020-02-26 10:55] dengnan123 commented on #110
good!

[2020-02-28 05:45] dengnan123 commented on #25
Solve it ？

[2020-02-28 06:56] rullymartanto opened #659 "Drag only when click header"
Hi, it's possible if we only drag the element using it's header ?

Thanks

[2020-02-28 22:05] jensaxena commented on #659
Hi @rullymartanto - you can set dragHandleClassName to your header class, something like this:

[code]

[2020-03-02 02:59] rullymartanto commented on #659
thanks for help !

[2020-03-02 02:59] #659 closed

[2020-03-03 16:34] ignapas commented on #606
To disable animations while dragging:
* Add a class to the animated item:
[code]
* In your css:
[code]

[2020-03-04 02:48] nhungnguyen3011 commented on #606
Currently, this issue doesn't happen anymore with the Chromium browsers (Chrome version > 80, Edge Chromium)
Seem like this bug is because of Chromium :))

I closed this ticket.

Thanks for your interest!

[2020-03-04 02:48] #606 closed

[2020-03-04 06:56] Raksha2606 opened #661 "X,Y"
### Overview of the problem

I'm using react-rnd **version** [x.x.x]

My **browser** is:

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

### Steps to Reproduce

1. First Step
2. Second Step
3. and so on...

### Expected behavior

### Actual behavior

[2020-03-06 13:57] turshija opened #663 "Drag and drop stops working when Google AMP script is loaded"
### Overview of the problem

I'm using react-rnd 10.1.6

My **browser** is:  Chrome 80.0.3987.122

I am sure this issue is **not a duplicate**?

### Reproduced project
https://codesandbox.io/s/sharp-curie-o7mmm
(I've added <script> tag in public/index.html which loads google AMP in line 25)

### Description
![rnd-amp-bug](https://user-images.githubusercontent.com/933433/76089588-3b336080-5fba-11ea

[2020-03-16 18:56] kaipradel commented on #654
Use the bounds property which specifies movement boundaries.

[2020-03-30 14:21] bokuweb commented on #655
@FEliuyg Please use `scale={0.5}`

[2020-03-30 14:21] #655 closed

[2020-03-30 14:21] bokuweb commented on #651
It is not supported yet.

[2020-03-30 14:23] bokuweb commented on #650
@changzhn Could you please provide a reproduced sample in codesandbox?

[2020-03-30 14:25] bokuweb commented on #638
duplicated

[2020-03-30 14:25] #638 closed

[2020-03-30 14:25] bokuweb commented on #508
duplicated #230

[2020-03-30 14:25] #508 closed

[2020-03-30 14:26] bokuweb commented on #608
duplicated #230

[2020-03-30 14:26] #608 closed

[2020-03-30 14:26] bokuweb commented on #589
duplicated #230

[2020-03-30 14:26] #589 closed

[2020-03-30 14:27] #425 closed

[2020-03-30 14:29] bokuweb commented on #654
Please control x and y by yourself.

[2020-03-30 14:29] #654 closed

[2020-03-30 14:37] evtif commented on #647
This method will never be called. The onMouseUp prop was thrown further into react-draggable and there this prop is not supported.

[2020-03-31 09:19] #650 closed

[2020-04-02 01:38] lhb11 commented on #621
同问，如何处理手机的dpi的问题，大部分手机可以，有的拖拽会偏差

[2020-04-07 14:02] choukrus opened #677 "Select multiple parents"
Hello, so i'm pretty new with react and rnd,

So I wanted to know if it's possible to have multiple 'parents' so that the user is able to drag and drop only on the selected parents and is unable to drop on another components for example ?

Thanks in advance

[2020-04-09 09:25] eeyshen opened #680 "Show guidelines for resize and drop element"
How to show guidelines for resize and drop element? Thanks.

[2020-04-25 20:02] wagnerpaz opened #686 "How to make a child element not draggable"
I have controls and areas in my child element that I don't want to be draggable.
How can I delimit the content that is draggable?

[2020-04-28 17:59] furkanilhan commented on #686
I have the same issue

[2020-04-29 03:13] bokuweb commented on #686
@wagnerpaz @furkanilhan Please use `cancel` if you don't want to drag.

https://github.com/bokuweb/react-rnd/blob/master/stories/cancel/cancel.tsx#L17

[2020-05-08 08:58] NeroVanbiervliet opened #690 "Npm registry version differs from github release"
### Overview of the problem

I'm using react-rnd **version** [10.1.9]  (see [npm](https://www.npmjs.com/package/react-rnd))

My **browser** is:  Chrome (electron)

### Steps to Reproduce

1. `yarn add react-rnd`
2. Version in `package.json` will be `10.1.9`

### Expected behavior

Version to be consistent with github releases (`10.1.8` or `9.1.1`)

[2020-05-08 09:00] NeroVanbiervliet commented on #690
As a side node, version `10.1.9` made our application crash upon building.

[2020-05-08 10:11] bokuweb commented on #690
@NeroVanbiervliet Thanks for your report :) Could you please provide reproduced project in codesandbox? It seems that 10.1.9 works following sample.

https://codesandbox.io/s/y3997qply9

[2020-05-08 10:22] NeroVanbiervliet commented on #690
I cannot reproduce it in codesandbox. In our project, it works fine in development using `webpack-dev-server`. But as soon as I bundle our code for production, it crashes. We get the following error
[code]
Switching to `10.1.8` solved the issue.
I can provide you with more info concerning our environment/project setup if you wish!

[2020-05-08 12:31] bokuweb commented on #690
@NeroVanbiervliet I guess react-draggable cause this error. https://github.com/STRML/react-draggable/issues/476

I'll downgrade react-draggable for now.

[2020-05-08 12:38] bokuweb commented on #690
Downgrade react-draggable for now

[2020-05-08 12:39] bokuweb commented on #690
https://github.com/bokuweb/react-rnd/releases/tag/v10.1.10

[2020-05-08 12:52] NeroVanbiervliet commented on #690
Confirmed fixed :) Thanks a lot!

[2020-05-11 17:25] STRML commented on #690
Hi - if any of you can recreate this error in React-Draggable 4.3.1 we'd be very happy to find out how you did it. There is no appreciable difference we can find in the bundling between 4.2.0 and 4.3.1, but many users are reporting this with no reproduction.

If someone could post a reproduction, we can get it fixed quickly.

[2020-05-11 17:53] bokuweb commented on #690
@NeroVanbiervliet @MBaert Do you have any information about this?

[2020-05-12 18:04] NeroVanbiervliet commented on #690
I created a fork of an electron boilerplate to demonstrate the issue [here](https://github.com/NeroVanbiervliet/electron-react-webpack-boilerplate). In [my only commit](https://github.com/NeroVanbiervliet/electron-react-webpack-boilerplate/commit/864ed1f0ea9f4436e2a839c314680f205ef4331e) I added `react-rnd @ 10.1.9` and imported it in the index.

Reproduction steps (assuming *nix)
1. `yarn install

[2020-05-12 21:29] STRML commented on #690
Thank you very much @NeroVanbiervliet. Because of your reproduction I was able to verify that `react-draggable@4.4.0` fixes the original issue, and discovered another bundling issue that is fixed in `4.4.1`.

@bokuweb thanks for your patience with me, I had a hare-brained idea to modernize the builds I was shipping to support umd, cjs, and modules - an exercise in futility to handle well, with the

[2020-05-17 01:02] burtonator opened #697 "onContextMenu not supported?"
feature
### Overview of the problem

I'm using react-rnd **version** 10.1.8

My **browser** is:

Chrome

I am sure this issue is **not a duplicate**?

onContextMenu doesn't work.  It will accept the property by the callback just isn't working.

... would love a fix to this or a hack in the mean time if anyone can suggest one.

[2020-05-17 01:04] burtonator commented on #697
I think maybe onClick would have the same issue but I haven't tested that yet.

[2020-05-17 10:30] altro3 opened #698 "[BUG] Incorrect top border in window mode"
It's a bug.

### Overview of the problem

I'm using react-rnd *10.1.10** [x.x.x]

My **browser** is:  Chrome / Firefox

### Reproduced project

https://github.com/altro3/window-bug

In sandbox: https://codesandbox.io/s/tender-lovelace-6rhff

### Description

Problem with top window bound, when I scroll down page. If I view midlle or bottom page,  top border of draggable window is changing and I ca

[2020-05-17 10:41] altro3 opened #699 "[Improvement] Update dependencies"
Hi! Thank you for this good wrapper for draggable library. I try to find good library to create movable and resizeble window inside my web-app  so much time. And only your library now meets all my requirements. That is, only here I found simple mechanisms for setting up the element as I need. Thanks!

Maybe need to update dependecnies to current versions?

react-draggable 4.2.0 -----> **4.4.2**
re

[2020-05-17 11:53] bokuweb commented on #699
@altro3 Thanks I'll try it

[2020-05-17 12:27] altro3 commented on #699
@bokuweb Thank! But it’s not as important as that - https://github.com/bokuweb/react-rnd/issues/698

I am not a professional in Javascript, I specialize in backend development. And I think that it will take me a lot of time to fix it myself

Please look at this bug - I spent more than two hours to understand why I sometimes lose the draggable element

[2020-05-20 21:01] tnrich commented on #437
@bokuweb any chance you could find some time to tackle this one? Thank you!

[2020-05-20 21:18] tnrich opened #700 "If bounds="window" <Rnd/> should stay within window bounds on window resize."
Hey @bokuweb thanks again for this awesome component!

I'm using react-rnd 10.1.10

My **browser** is:   chrome

### Reproduced project
This can be reproduced within the storybook.

### Description
I think this video really shows what's happening well. Basically I have an <Rnd> dialog element that can be resized and moved around. When I resize my window to fit half the screen however, the element

[2020-05-28 23:36] liu550 commented on #403
How exactly should we use the "cancel" property to fix the issue, given that we have the id of the input element?

[2020-06-01 03:00] FEliuyg commented on #655
@bokuweb thanks for your answer.but i still have some problems
- if serveral parent node set transform:scale, it should calculate the result scale, how to use it easy?
- if parent node transform: scale(0.5, 0.8), how to set the scale props?

[2020-06-03 00:39] eeyshen commented on #700
I have the same problem with the latest version.

[2020-06-05 19:57] ElixirMike opened #703 "I just started to implement, is there any way to anchor this to right side of page??"
This is a basic question, is there an easy way to set the position such that it's anchored to the right side of browser? This is the same if using an absolute positioned DIV where you set Right:'0px', such that, as you resize window, the DIV sticks to the right side.

Is that possible here?

[2020-06-15 18:09] anooj-shah opened #705 "Can the Drag Axis be Diagonal only?"
Hi! I have been trying to make the drag axis only diagonal so the ratio of height to width in the <Rnd> remains constant.

I have tried disabling all of the axes other than the bottom right which I want to proportionally resize the <Rnd>. However, this did not work as the draggable corners (bottom right for example) can change both the x and y axis.

I also looked at the drag axis - ``dragAxis?: '

[2020-06-15 20:20] #705 closed

[2020-06-16 15:41] BerndSchrooten opened #706 "Dragging to edge increases bounding container size when overflow: auto"
### Overview of the problem

When using RND in a container with the css attribute `overflow: auto`, dragging to the right and bottom edge will cause some browsers to increase the size of the container and scroll bars will show. The RND box is kept within the original bounds though.

I'm using react-rnd **version** [10.1.10]

My **browser** is:
Chrome, Edge Chromium, Firefox

Does not happen on saf

[2020-06-16 19:43] JordanWinslow commented on #403
[code]

[2020-06-29 04:43] hungdev opened #708 "Allow adding draggable Props"
Thank for your work.
It seems to lack the ability to add draggable props.
So i created a pull request for it. Please review it.
https://github.com/bokuweb/react-rnd/pull/707

[2020-07-05 19:56] getnsv opened #709 "Question: Can we use react-rnd to draw a circle based on the mousedown and mouseup coordinates?"
Is it a bug/feature/question or do you need help? Question

### Overview of the problem

I'm using react-rnd 10.1.10

My **browser** is:   chrome and edge

I am sure this issue is not a duplicate

### Reproduced project

Sorry I dont have one, as am not sure that dynamic behavior is supported. Initially am using the below code.
<Rnd
                            style={bevMarkerstyle}

[2020-07-06 06:53] GlynL commented on #565
just ran into this and appears to have been fixed.
#618
#619

[2020-07-07 12:06] sanjitgroverincedo commented on #616
Hi Camelot93, did you find a solution to this problem?

[2020-07-08 09:31] aktn commented on #616
Having the same thing :(

[2020-07-08 09:39] bokuweb commented on #616
@Camelot93 @aktn Could you please provide a reproduced example in codesandbox?

[2020-07-08 14:00] sanjitgroverincedo commented on #616
Hi @Camelot93, my issue was I was displaying <Rnd> in <row> and <col>. When I added new <Rnd> on button click, it tends to get in another <col> causing the error.
So I did,
<Container>
{this.state.rnds.map(rnd-><Rnd><Rnd>)}
</Container>
It resolved my issue. Hope this helps.

[2020-07-11 08:07] bokuweb commented on #616
@sanjitgroverincedo Thanks

[2020-07-14 05:10] aktn commented on #185
+1

[2020-07-14 08:45] Dror-Bar commented on #79
@bokuweb Thanks, draggable=false on the img component was enough for me.
This is easy to miss and a common thing to happen, I think it should be more clear in the Read Me.

[2020-07-16 02:47] justnewbee opened #711 "display none will affect transform permanently"
### Overview of the problem

I'm using react-rnd **10.1.10**

My **browser** is:   Firefox Developer Edition 79

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/epic-zhukovsky-ojxg4?file=/package.json:257-264

### Description

if the RND or its parent's `display: none` is set **at first**, not after some change, the transform x and y are doubled, and

[2020-07-16 11:52] GabrielFerrarini opened #712 "Scrollbar is not Clickable"
### Overview of the problem

I'm using react-rnd **version** [10.1.10]

My **browser** is:   Chrome (83.0.4103.116)

I am sure this issue is **not a duplicate**?

### Reproduced project

https://codesandbox.io/s/confident-hill-oee4i

### Description

The scrollbar is not clickable when overflow is auto

Although it's visible

![image](https://user-images.githubusercontent.com/14163427/87667455-bf5

[2020-07-20 08:59] h0jeZvgoxFepBQ2C commented on #611
I need this also, how did you make this work?

[2020-07-20 09:42] h0jeZvgoxFepBQ2C opened #714 "Bounds="parent" is not working when screen is resized"
### Overview of the problem

Setting bounds="parent"
I'm using react-rnd **version** 10.1.10

My **browser** is:   Chrome

I am sure this issue is **not a duplicate**? Yes

### Description

I set bounds to "parent" - works without problems. But when I resize my browser screen, the element is outside of the parents scope.

### Steps to Reproduce

1) Set bounds to "parent"
2) Resize window

### Expe

[2020-07-20 10:14] h0jeZvgoxFepBQ2C commented on #714
Actually this is a react-draggable issue: https://github.com/STRML/react-draggable/issues/363

[2020-07-22 15:44] #708 closed

[2020-07-23 21:50] amandakoster opened #717 "Multiple panels side by side in same container - panel1 resize increases, panel2 resize decreases simultaneously"
I think I need help.

### Overview of the problem

I'm using react-rnd **version** 10.1.10

My **browser** is:
Chrome 84.0.4147.89

I am sure this issue is **not a duplicate**?
yes

### Reproduced project

https://codesandbox.io/s/wild-pond-ok4se?file=/src/index.js

### Description

Is it possible to have multiple panels side by side in same container - panel1 resize increases, panel2 resize decre

[2020-07-24 00:32] amandakoster commented on #706
I changed it to `overflow: 'hidden` and think it solves your issue
https://codesandbox.io/s/busy-cdn-bv0hw?file=/src/styles.css

[2020-07-27 02:27] devinhalladay commented on #595
imo since it seems like react-draggable is using DOM apis under the hood i imagine this would actually pretty useful and not break the paradigm of this library, given that you can already pass a component for the resizehandler.

if others are interested (and there isn't already a PR in progress?) i'd try to write a PR for this

[2020-07-27 06:08] ozguncagri commented on #595
After updating my project I saw "findDOMNode" is deprecated on strict mode and for the good of this project it should be completely removed imo.

[2020-07-28 13:26] BerndSchrooten commented on #706
Changing overflow to hidden is problematic for cases where the container is outside of the viewport. For example when resizing the window or persisting the location of the container. With overflow hidden you would not be able to find the container then

[2020-07-29 20:08] nicholaschiang commented on #453
I had the same problem. And @pebbledesigns, that isn't a solution (that's just making the component uncontrolled... it won't help with us folks who *need* to control the position).

[2020-07-29 22:26] nicholaschiang opened #720 "Controlled draggable position is messed up by transform"
### Overview of the problem

I'm using react-rnd **version** ^10.2.1

My **browser** is:   Firefox

I am sure this issue is **not a duplicate**? Yup, I'm pretty sure. It might be a duplicate, but all the similar-sounding issues were very vague, so I can't be sure.

### Description

The `transform` property set by `react-draggable` conflicts with our position property **until** the user clicks on t

[2020-07-29 23:10] nicholaschiang commented on #720
Fixed this myself. The problem was that the parent's `display` was changing **after** `react-draggable` was initialized.

[2020-07-29 23:10] #720 closed

[2020-08-01 20:57] rayventerprise opened #723 "Add detection for async rendering going on within the Rnd component"
Please take a look at the source code I ripped and modified which will explain the improvement needed.

`
    componentDidMount() {
        const updateOffset = () => {
            this.setState({
                render: true
            })

            this.updateOffsetFromParent();
            const {left, top} = this.offsetFromParent;
            const {x, y} = this.getDraggablePosition();

[2020-08-04 08:09] Dror-Bar opened #724 "Initial Bounds"
### Overview

react-rnd version: **[10.1.10]**
browser:   **Chrome**

### Reproduced project

https://codesandbox.io/s/quizzical-haibt-8qk4n

### Description

When RND is initialized with `bounds='parent'`, the bounds are set to `{top: 0, right: 0, bottom: 0, left: 0}` instead of the actual bounds. Only after moving the RND component the bounds are updated to correct values.

### Steps to Reproduc

[2020-08-04 15:28] Dror-Bar commented on #230
Wait, why was this closed? This seems unresolved.

[2020-08-04 18:02] christiancruuz opened #725 "Latest release breaks mobile dragging"
My browser is:   Mobile Chrome and Mobile Safari on ios

Latest release breaks mobile dragging. When I reverted back to version 10.1.1 it worked.

[2020-08-06 00:50] bokuweb commented on #725
@chrisstiles Do you have any idea?

[2020-08-06 02:33] chrisstiles commented on #725
@bokuweb I'll look into it and see what I can find. It does like the `nodeRef` is what is breaking dragging on mobile.

[2020-08-09 01:33] chrisstiles commented on #725
@bokuweb I was able to fix the issue preventing dragging on mobile!

The root of the issue is caused by the fact that React-Draggable is using the newer React ref syntax and expects a `RefObject` with the DOM element being the `ref.current` value. Since re-resizable uses callback refs, I had previously just created an object in the `render()` function and set the resizable `<div>` as the value.

H

[2020-08-11 06:49] miqh commented on #712
@GabrielFerrarini, I just stumbled across a similar problem myself.

I found this behaviour is exacerbated by the specification of the `bounds` prop. If you get rid of the latter, you should be able to use the scrollbar.

I had a look at the source to see if there's an easy fix. Couldn't find one, but I believe the problem is in the `onDragStart` handler.

https://github.com/bokuweb/react-rnd/blob

[2020-08-13 21:53] Slapbox commented on #686
In case anyone adds `className="cancel"` and wonders why it's not working, see this line: https://github.com/bokuweb/react-rnd/blob/master/stories/cancel/cancel.tsx#L8

[2020-08-17 11:02] bokuweb commented on #725
10.2.2 published. Could you please try later version

[2020-08-17 11:02] #725 closed

[2020-08-23 17:14] burtonator commented on #714
I'm hitting this when rendering into a react portal that goes into an iframe and not sure if this is related.

[2020-08-23 18:25] burtonator opened #732 "Ability to override or disable 'transform' property"
Feature to work around bug.

### Overview of the problem

There's a bug with 'bounds' being computed wrong with the latest version and within an iframe:

https://github.com/STRML/react-draggable/issues/363
https://github.com/bokuweb/react-rnd/issues/714

... I could just compute this myself if I could handle onResizeStop and specify position: absolute with top, left, width and height...

BUT react

[2020-08-26 16:04] christiancruuz opened #733 "Latest release cannot detect onClick handler on Mobile"
My browser is: Mobile Chrome and Mobile Safari on ios

Latest release breaks mobile onClick handler.

[2020-08-31 12:53] akshaybosamiya commented on #611
Can you please eloboarte that how you made it? I also want to do this.

[2020-09-04 15:05] dvsth opened #738 "onDrag and onDragStop callbacks get different (x, y) coordinates"
### Overview of the problem

I'm using react-rnd **10.2.2**

My **browser** is:

I am sure this issue is **not a duplicate**

### Reproduced project

https://codesandbox.io/s/jolly-goldwasser-5m0n9?file=/src/index.js

### Description

The callback functions for props onDrag and onDragStop get different values for the coordinates of the element. It seems like the issue is that the two return coords

[2020-09-10 03:51] argxentakato opened #739 "If set minWidth or minHeight, Cannot resize."
### Overview of the problem

I'm using react-rnd **version** 10.2.2

My **browser** is: Chromium

I am sure this issue is **not a duplicate**? Yes.

### Reproduced project

https://codesandbox.io/s/young-microservice-md19b

### Description
If I set minWidth or minHeight to prevent Rnd from being smaller than your children divs (whether it's a fixed value like "300px" or a keyword like "fit-content

[2020-09-11 10:53] ruben00001 commented on #611
Are you asking how to convert between a % and px value? Simply get a % of window.innerWidth to convert to px.

[2020-09-12 22:56] Slapbox commented on #599
It's my experience that RnD seems to end up with `y` as `NaN` pretty regularly if you use the `onDragStop` and `onResizeStop` handlers. This is a pretty serious problem since it irreversibly breaks RnD

[2020-09-13 19:51] Slapbox opened #740 "Feature request: Resize in both the dragged direction and its opposite?"
### Overview of the problem

I'm using react-rnd **version** 10.2.1

My **browser** is:   Chrome 82

I am sure this issue is **not a duplicate**? Pretty certain, but maybe I missed it

### Description

Feature request: When dragging in one direction, is it possible to have the box grow in that direction and its opposite? For example, if you drag the left edge, the box would grow on both the left a

[2020-09-15 09:56] xcyn commented on #168
Thanks.

[2020-09-21 10:32] akshaybosamiya commented on #739
I'm also facing the same issue.

@bokuweb, please let us know if there is any update on this.

Thanks a lot.

[2020-09-22 15:36] bokuweb commented on #739
@akshaybosamiya @silverscat-3 fixed by v10.2.3

[2020-09-22 15:52] #699 closed

[2020-09-22 16:43] #90 closed

[2020-09-22 16:43] #161 closed

[2020-09-22 16:45] #330 closed

[2020-09-22 16:46] #438 closed

[2020-09-22 16:46] #386 closed

[2020-09-22 16:50] #565 closed

[2020-09-23 01:15] #590 closed

[2020-09-24 14:33] OskarAhl commented on #581
Solved this by adding `position: relative` to the parent element (i.e. to the "bounds" parent element)

[2020-09-28 12:17] jdpagley opened #742 "Is There a way to Drag and Resize Multiple Items at once?"
This is a question.

### Overview of the problem

I'm using react-rnd **version** 10.1.9
My **browser** is: chrome

### Description

Is There a way to Drag and Resize Multiple Items at once?

[2020-09-29 19:17] Slapbox commented on #581
@OskarAhl that doesn't do it for me.

[2020-10-06 06:36] chrismayer commented on #724
As far as I can tell this is also the case for` bounds='body'`. I had the same issue as stated in the description. The initial position of the `Rnd` component is outside the body (`bounds` are initialized to `{top: 0, right: 0, bottom: 0, left: 0}`). When you drag the component you can see it snaps into the boundary and the `bounds` state object is set correctly.

[2020-10-10 19:37] Slapbox opened #743 "Transform value is always a non-integer number of pixels, which results in blurring on hovering of the RND"
### Overview of the problem

I'm using react-rnd **version** `10.2.2`

My **browser** is: Chrome 80

I am sure this issue is **not a duplicate**? Pretty sure

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

### Steps to Reproduce

1. First Step
2. Second Step
3. and so on...

### Expected behavior

### Actual behavior

[2020-10-10 20:07] Slapbox commented on #743
One way this seems to occur is by moving the RND with a browser zoom level of greater than 100%, and then changing the browser zoom afterwards.

[2020-10-10 20:23] Slapbox commented on #743
Also seems to be an issue if any of the parent containers have transforms applied when RND mounts, for example from an entrance transition.

[2020-10-29 21:32] harjyotkaur93 opened #745 "Request for minimization feature of the react-rnd panel"
This is a request for a new feature to be added - minimization of the panel to either bottom left/right.

I'm using react-rnd 10.1.1 with Google Chrome browser.

### Description

A new icon can be added besides the close icon which will minimize the panel to the bottom of the screen/browser. It will be at the top of all the existing content and will not be hidden unless closed. While minimized, th

[2020-10-30 15:35] benheb commented on #724
Does anyone have a work around for this?

[2020-11-02 16:27] MrPrometheus opened #746 "A question about the implementation of one possibility"
### Overview of the problem

I'm using react-rnd **version** [10.1.10]

My **browser** is: Google Chrome

### Description

I have a question. Imagine that the screen is divided into 2 parts, in the first part some controls are stored (buttons carrying any functions). In the second part, there is a field for composing logic from controls from the first part. The question is this: I want to drag con

[2020-11-08 07:44] Dror-Bar commented on #724
@benheb well I don't know if this will work for your needs exactly, but in my use case I had a structure like this:

[code]
I have a variable called "size" that contains the width and height of the main container.
And I used this code in useEffect to calculate initial bounds:

[code]

[2020-11-08 14:30] Dror-Bar commented on #147
@pionl What is "Resizable"? Shouldn't it be "Rnd"?

[2020-11-09 17:26] benheb commented on #724
Thanks @Dror-Bar -- looks like in my case the biggest issue was that I was rendering the Rnd component even though the parent was initially set to visible false (which did work in prior versions). I am now not rendering the Rnd component until its parent is set to visible and that resolved the initial offset bug I was running into.

[2020-11-11 19:28] molecule commented on #742
Same question - this would be marvelous for our use-case.

[2020-11-13 04:00] binhpv opened #747 "Change to version range for re-resizable"
### Overview of the problem

I'm using react-rnd **version** 10.2.3

I am sure this issue is **not a duplicate**

### Description
In https://github.com/bokuweb/re-resizable/issues/705 I got your support in merging the PR, and really appreciated that. However I cannot use the new version because I actually depend directly on react-rnd.

react-rnd has a hard-dependency on re-resizable, making upgrad

[2020-11-23 04:38] Miyabi-ill opened #748 "When dragged, only moves once along the dragGrid"
### Overview of the problem

I'm using react-rnd **version** [10.2.3]

My **browser** is:   Chrome / Firefox

I am sure this issue is **not a duplicate**?
yes

### Reproduced project

https://codesandbox.io/s/y3997qply9

### Description

If dragAxis is set to y and dragGrid is set to [0, n], it will only move once when dragged.
If dragGrid is set to [n, m], it works as expected.

### Steps to Repr

[2020-11-25 07:02] DininduKanchana commented on #738
I am having the same issue.

[2020-12-04 16:03] fwh1990 opened #753 "[Question] How to set the original point"
The default zero point(0, 0) is **left-top**, and I want to change the point to **left-bottom** to compatible with C/S app. Could you please help me?

[2020-12-07 07:20] binhpv commented on #747
I closed the issue since v10.2.4 updated to new re-resizable.

[2020-12-07 07:20] #747 closed

[2020-12-10 12:53] iddanh commented on #147
@Dror-Bar Thank you! I had the same issue and your fix helped me.

The problem now is that the resize handles seem to "slide around" while resizing (without the rotation the opposite corner from the one I am resizing did not move).
![ezgif-6-c4815d13abeb](https://user-images.githubusercontent.com/12518219/101774591-ffa06680-3af6-11eb-8db2-3c40691da2a5.gif)
How did you solve this?

[2020-12-10 21:00] N1cc3 opened #754 "Using resizeGrid causes left resize to actually change size to the right"
### Overview of the problem

Using resizeGrid causes resizing left to actually resize to right.

I'm using react-rnd **10.2.4**

### Reproduced project

https://codesandbox.io/s/rnd-resize-left-bug-e9vnr

### Steps to Reproduce

1. Use any horizontal resizeGrid
2. Try resizing left side
3. Rnd component will change size to right side while left will stay fixed.

### Expected behavior

Resizing sho

[2020-12-13 07:38] Dror-Bar commented on #147
@iddanh I don't think I bothered with this one. Rotating with this library is wonky enough, I was content with the result as is.

[2020-12-16 14:08] huihui925 commented on #686
thank you

[2020-12-26 06:45] kabeer10395 opened #760 "[Bug] Button press not working on touch devices"
It is a bug

browser bug

### Overview of the problem

The Button press on touch devices is not woking but works with mouse click

I'm using react-rnd **version** [10.2.4]

My **browser** is:   Chrome

### Reproduced project
https://codesandbox.io/embed/epic-wave-7f82y

Open in mobile browser or toogle device ToolBar

[2020-12-27 04:55] bokuweb commented on #760
@kabeer10395 Thanks:)

Please use `cancel` like following.

[code]

ref: https://github.com/STRML/react-draggable/pull/470